.wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2E3192;
    padding: 1rem 2rem;
}

.heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */


    color: #FFFFFF;
}

.contentText {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 150%;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.contentText2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: .3rem 0;
}

.list {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.03em;
    padding-left: 1.5rem;
    color: #FFFFFF;
    margin: 1rem 0;

}

.delete {
    background-color: #BFBFBF;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: .875rem;
    line-height: 150%;
    letter-spacing: 0.03em;
    outline: none;
    cursor: pointer;
    padding: 1rem 4.3rem;
    height: 54px;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    color: #FBFBFF;
}

.link {
    text-decoration: none;
    color: #171646;
}

.button_wrapper {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

@media screen and (min-width:48rem) {
    .button_wrapper {
        flex-direction: row;
        gap: 3rem;
        align-items: center;
    }


}