*
{
    margin: 0px;
}

.sidebar_container
{
    background: #2e3192;
    border-right: 0.5px solid #2e3192;
    padding: 3rem 1.8rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 75vh;
}

.sidebar_container.mobile
{
    display: none;
}

.sidebar_container ul
{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

<<<<<<< HEAD
.sidebar_container .logo{
    scale: .8;
}

.sidebar_container ul li {
=======
.sidebar_container ul li
{
>>>>>>> 70908ce89be9f540e1cbb39a597f16073e013dce
    list-style-type: none;
    font-weight: 300;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}

.sidebar_container ul li a
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    color: #fff;
    line-height: 2rem;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 0.01em;
}

.sidebar_container ul .__active
{
    font-weight: 700;
}

<<<<<<< HEAD
@media screen {
    
}
=======
@media only screen and (max-width: 1024px)
{
    .sidebar_container
    {
        height: 100vh;
    }
}

@media only screen and (max-width: 480px)
{
    .sidebar_container
    {
        display: none;
        min-height: auto;
    }

    .sidebar_container.mobile
    {
        display: flex;
        position: fixed;
        bottom: 0px;
        width: 100%;
        padding: 15px 24px;
        background-color: white;
    }

    .sidebar_container.mobile ul
    {
        align-items: center;
        flex-direction: row;
        margin: 0;
    }

    .sidebar_container.mobile ul li a>p
    {
        color: #999999;
        margin: 0;
    }
}
>>>>>>> 70908ce89be9f540e1cbb39a597f16073e013dce
