* {
    margin: 0px;
}

.sidebar_container {
    background: #2e3192;
    border-right: 0.5px solid #2e3192;
    padding: 3rem 1.8rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: fixed;
    width: 10rem;
}

.sidebar_container.mobile {
    display: none;
}

.sidebar_container ul {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.sidebar_container .logo {
    scale: 0.8;
}

.sidebar_container ul li {
    list-style-type: none;
    font-weight: 300;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}

.sidebar_container ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    line-height: 2rem;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 0.01em;
}

.sidebar_container ul .__active {
    font-weight: 700;
}

@media only screen and (max-width: 480px) {
    .sidebar_container {
        display: none;
        min-height: auto;
    }

    .sidebar_container.mobile {
        display: flex;
        position: fixed;
        bottom: 0px;
        width: 100%;
        padding: 15px 24px;
        background-color: white;
        z-index: 1;
    }

    .sidebar_container.mobile ul {
        align-items: center;
        flex-direction: row;
        margin: 0;
    }

    .sidebar_container.mobile ul li a > p {
        color: #999999;
        margin: 0;
        font-size: 13px;
    }
    .sidebar_container.mobile .mobile_active > p {
        color: #6567b0;
        font-weight: 700;
        margin: 0;
    }
}
.sidebar_container ul li a > p {
    color: #ffff;
    font-weight: 100;
    margin: 0;
}
.sidebar_container .active > p {
    font-weight: 700;
}
