.sidebar_container {
    background: #2e3192;
    border-right: 0.5px solid #2e3192;
    padding: 3rem 1.8rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9rem;
}

.sidebar_container ul {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.sidebar_container .logo{
    scale: .8;
}

.sidebar_container ul li {
    list-style-type: none;
    font-weight: 300;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}

.sidebar_container ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    color: #fff;
    line-height: 2rem;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 0.01em;
}
.sidebar_container ul .__active {
    font-weight: 700;
}

@media screen {
    
}
