.general_container {
    max-width: 1600px;
    margin: auto;
}

.sub_heading {
    font-size: 0.7rem;
}

/*======= Hero section =======*/

.hero_container {
    width: 100%;
    height: 90vh;
    max-height: 650px;
    /* background: #ceceec;
  filter: blur(100px);
  transform: rotate(18.96deg); */
}

.hero_container .hero_content {
    display: flex;
    width: 90%;
    height: 100%;
    margin: auto;
    margin-top: 1rem;
}

.hero_content .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
}

.hero_content .left .browse {
    width: 70%;
    height: 150px;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #999999;
    border-radius: 5px;
    justify-content: center;
    background-color: #ffffff;
    font-size: 0.9rem;
    padding: 1.2rem;
}

.hero_content .left .browse img {
    width: 55px;
    margin: 0 auto;
}

.hero_content .left .browse .base {
    color: #cccccc;
}

.hero_content .left .heading {
    font-size: 3rem;
    width: 100%;
    color: #202065;
    margin-bottom: 1.3rem;
}

.hero_content .right {
    flex: 1;
}

.hero_content .right img {
    width: 85%;
    float: right;
}

/*====== Services ========*/

.services_container {
    width: 100%;
    height: 50vh;
    max-height: 400px;
    margin: 5rem 0;
    border-top: 1px solid #202065;
}

.services_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 85%;
    margin: 2rem auto;
    gap: 1rem;
    padding: 2rem 0;
}

.services_content h3 {
    color: #202065;
}

.services_content p {
    color: #52515b;
}

.services_content .box img {
    margin-bottom: 1rem;
}

/*======= Learn More ========*/

.learn_container {
    width: 100%;
    margin: 4rem 0;
    padding: 4rem 0;
    border-top: 1px solid #202065;
}

.learn_content {
    width: 90%;
    margin: auto;
}

.learn_content .top {
    margin-left: 1.4rem;
}

.learn_content h2 {
    margin: 1rem 0 2rem;
    font-size: 2.5rem;
    color: #202065;
    width: 50%;
}

.learn_content button {
    padding: 0.5rem 2rem;
    border: none;
    color: #171646;
    background-color: #c4d5ee33;
    margin-bottom: 2rem;
}

.learn_content img {
    width: 100%;
    margin-bottom: 4rem;
}

.learn_content .bottom {
    display: flex;
}

.learn_content .bottom .left {
    flex: 1;
}

.learn_content .bottom h3 {
    color: #52515b;
    font-size: 2.5rem;
    width: 90%;
}

.learn_content .bottom .right {
    flex: 1;
}

.learn_content .bottom .boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5rem;
}

.learn_content .bottom .boxes .box {
    display: flex;
    flex-direction: column;
}

.boxes .box .figure {
    font-size: 2rem;
    color: #5052a5;
    font-weight: 700;
}

/*==== Pricing section ========*/

.pricing_container {
    border-top: 1px solid #202065;
    padding: 4rem 0;
}

.pricing_content {
    width: 90%;
    margin: auto;
}

.pricing_content .top {
    margin-bottom: 4rem;
}

.pricing_content .top h3 {
    font-size: 2.5rem;
    color: #202065;
}

.pricing_content .top button {
    border: none;
    background-color: #202065;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 1rem 0;
    width: 9rem;
}

.pricing_content .bottom {
    display: flex;
    justify-content: space-between;
}

.pricing_content .bottom .list {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.pricing_content .bottom .list img {
    width: 25px;
    margin-top: 8px;
}

.pricing_content .bottom .left {
    width: 60%;
    padding-top: 3rem;
}

.pricing_content .bottom .price_card {
    border: 3px solid #5052a5;
    padding: 1.5rem;
    border-radius: 15px;
    line-height: 1.8;
    width: 20rem;
    margin: auto;
}

.pricing_content .bottom .price_card .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #52515b;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.price_card .type {
    font-weight: 500;
    font-size: 1.8rem;
    color: #140f31;
}

.price_card .figure {
    font-size: 2.5rem;
    font-weight: 600;
    color: #202065;
}

.price_card .interval {
    font-size: 0.8rem;
}

.pricing_content .bottom .price_card .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pricing_content .bottom .price_card .bottom span {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.pricing_content .bottom .price_card .bottom span img {
    width: 15px;
}

.pricing_content .bottom .price_card button {
    border: none;
    margin: 1.5rem auto;
    background-color: #202065;
    color: #ffffff;
    width: 50%;
    padding: 0.3rem;
    border-radius: 5px;
}

.price_card .btn_area {
    display: flex;
    justify-content: center;
}

/*======= Testimonials ========*/

.reviews_container {
    width: 100%;
    padding: 2rem 0;
    border-top: 1px solid #202065;
    border-bottom: 1px solid #202065;
    padding-bottom: 4.5rem;
}

.reviews_content {
    width: 90%;
    margin: auto;
}

.reviews_content .top {
    margin-bottom: 4rem;
}

.reviews_content .top h3 {
    font-weight: 700;
    color: #202065;
    font-size: 2.5rem;
    width: 40%;
}

.reviews_content .bottom {
    display: flex;
}

.reviews_content .bottom div {
    flex: 1;
    color: #1b1b1b;
}

.reviews_content .bottom div .stars {
    width: 9rem;
    margin-bottom: 1.5rem;
}

.reviews_content .bottom .profile {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    gap: 1rem;
}

.reviews_content .bottom .profile img {
    width: 3rem;
}

.reviews_content .bottom .profile div {
    display: flex;
    flex-direction: column;
}

.reviews_content .bottom .name {
    font-weight: 600;
    color: #b4b4b4;
}

.reviews_content .bottom .position {
    color: #b4b4b4;
}

/*====== FAQ =========*/

.FAQ_container {
    width: 100%;
    padding: 2rem 0;
    margin: 4rem 0;
}

.FAQ_content {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
}

.FAQ_content div {
    flex: 1;
}

.FAQ_content div button {
    border: none;
    background-color: #202065;
    color: #ffffff;
    padding: 0.4rem 2.5rem;
    border-radius: 5px;
}

.FAQ_content div .text {
    width: 80%;
    margin-right: auto;
}

.FAQ_content div .text p {
    margin-bottom: 1.5rem;
}

.FAQ_content div h3 {
    font-weight: 700;
    color: #202065;
    font-size: 2.5rem;
}

.FAQ_content div ul li {
    list-style: none;
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #202065;
}

.FAQ_content div ul li:first-child {
    border-top: 1px solid #202065;
}

@media (max-width: 820px) {
    .hero_container {
        max-height: 500px;
    }

    .hero_container .hero_content {
        width: 95%;
        margin-top: 1rem;
    }

    .hero_content .left .browse {
        width: 100%;
    }

    .services_content {
        width: 95%;
    }

    .learn_content h2 {
        width: 70%;
    }

    .learn_content .left h3 {
        font-size: 2rem;
    }

    .pricing_content {
        width: 95%;
    }

    .pricing_content .bottom {
        gap: 1.5rem;
    }

    .reviews_content {
        width: 95%;
    }

    .FAQ_content div h3 {
        font-size: 2rem;
    }
}

@media (max-width: 650px) {
    .hero_content {
        flex-direction: column;
        height: fit-content;
    }

    .services_content {
        grid-template-columns: 1fr;
        height: fit-content;
    }

    .learn_content .bottom {
        flex-direction: column;
        width: 95%;
    }

    .learn_content .bottom h3 {
        font-size: 1.8rem;
    }

    .pricing_content .bottom {
        flex-direction: column;
    }

    .pricing_content .bottom .left {
        width: 100%;
    }

    .reviews_content .top h3 {
        width: 100%;
        font-size: 2rem;
    }

    .reviews_content .bottom {
        flex-direction: column;
        gap: 1rem;
    }

    .FAQ_content {
        width: 95%;
        flex-direction: column;
        gap: 2rem;
    }

    .FAQ_content div .text {
        width: 100%;
    }

    .FAQ_content div ul {
        width: 100%;
    }
}

@media (max-width: 420px) {
    .hero_container {
        height: fit-content;
    }
    .hero_content .left .heading {
        font-size: 2rem;
    }
}
