.general_container {
    max-width: 1600px;
    margin: auto;
    background-color: #FBFBFB;
}
.uploadFile{
    display: none;
}
input[type="file"]{
    display:none;
}
.sub_heading {
    font-size: 16px;
}

/*======= Hero section =======*/

.hero_container {
    width: 100%;
}

.hero_container .hero_content {
    display: flex;
    width: 90%;
    align-items: center;
    margin: auto;
    margin-top: 1rem;
}

.hero_content .left {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
    position: relative;
}
.file{
    display: none;
}

.hero_content .left .elipse {
    position: absolute;
    top: -15%;
    right: 0;
}

.hero_content .left .browse {
    width: 70%;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #999999;
    border-radius: 5px;
    justify-content: center;
    background-color: #ffffff;
    font-size: 0.9rem;
    padding: 3rem 1.5rem;
}

.hero_content .left .browse img {
    width: 55px;
    margin: 0 auto;
}

.hero_content .left .browse .base {
    color: #cccccc;
}

.hero_content .left .heading {
    font-size: 4rem;
    font-weight: 400;
    width: 100%;
    color: #202065;
    margin-bottom: 1.3rem;
}

.hero_content .right {
    flex: 1;
}

.hero_content .right img {
    width: 85%;
    float: right;
}

/*====== Services ========*/

.services_container {
    width: 100%;
    /* height: 50vh;
    max-height: 400px; */
    margin: 5rem 0;
    border-top: 1px solid #362065;
}

.services_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 85%;
    margin: 2rem auto;
    gap: 1rem;
    padding: 2rem 0;
}

.services_content h3 {
    color: #362065;
    font-size: 27px;
    font-weight: 500;
}

.services_content p {
    color: #52515b;
    font-size: 16px;
    line-height: 30px;
}
.uploadfile{
    display: none;
}
.services_content .box img {
    margin-bottom: 1rem;
}

/*======= Learn More ========*/

.learn_container {
    width: 100%;
    margin: 4rem 0;
    padding: 4rem 0;
    border-top: 1px solid #362065;
}

.learn_content {
    width: 90%;
    margin: auto;
}

.learn_content .top {
    margin-left: 1.4rem;
}

.learn_content h2 {
    margin: 1rem 0 2rem;
    font-size: 3rem;
    color: #362065;
    font-weight: 600;
    width: 60%;
}

.learn_content button {
    padding: 1rem 4rem;
    border: none;
    font-weight: 600;
    color: #4E2E92;
    background-color: #c4d5ee33;
    margin-bottom: 2rem;
}

.learn_content img {
    width: 100%;
    margin-bottom: 4rem;
}

.learn_content .bottom {
    display: flex;
    position: relative;
}

.learn_content .bottom .left {
    flex: 1;
}

.learn_content .bottom .left .elipse {
    position: absolute;
    top: -50%;
    left: 10%;
}

.learn_content .bottom h3 {
    color: #52515b;
    font-size: 2.5rem;
    width: 90%;
    font-weight: 600;
}

.learn_content .bottom .right {
    flex: 1;
}

.learn_content .bottom .boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5rem;
}

.learn_content .bottom .boxes .box {
    display: flex;
    flex-direction: column;
}

.boxes .box .figure {
    font-size: 2.5rem;
    margin-top: 1rem;
    line-height: 60px;
    font-weight: 600;
    color: #6B50A5;
    
}

/*==== Pricing section ========*/

.pricing_container {
    border-top: 1px solid #362065;
    padding: 4rem 0;
}

.pricing_content {
    width: 90%;
    margin: auto;
}

.pricing_content .top {
    margin-bottom: 4rem;
}

.pricing_content .top h3 {
    font-size: 3.5rem;
    color: #362065;
    margin: 20px 0;
}

/* .view_all_btn {
    cursor: pointer;
    padding: 16px 32px;
} */

.pricing_content .top button {
    border: none;
    background-color: #362065;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 1rem 0;
    /* width: 9rem; */
    cursor: pointer;
    width: 200px;
    padding: 16px 32px;
}

.pricing_content .bottom {
    display: flex;
    justify-content: space-between;
}

.pricing_content .bottom .list {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.pricing_content .bottom .list img {
    width: 25px;
    margin-top: 8px;
}

.pricing_content .bottom .left {
    width: 60%;
    padding-top: 3rem;
}

.pricing_content .bottom .price_card {
    border: 3px solid #4E2E92;
    padding: 1.5rem;
    border-radius: 10px;
    line-height: 1.8;
    width: 20rem;
    margin: auto;
}

.pricing_content .bottom .price_card .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #52515b;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.price_card .type {
    font-weight: 500;
    font-size: 1.8rem;
    color: #140f31;
}

.price_card .figure {
    font-size: 2.9rem;
    font-weight: 600;
    margin:2rem;
    color: #4E2E92;
}

.price_card .interval {
    font-size: 0.8rem;
}

.pricing_content .bottom .price_card .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pricing_content .bottom .price_card .bottom span {
    display: flex;
    margin: 0.5rem 0;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    gap: 1rem;
}

.pricing_content .bottom .price_card .bottom span img {
    width: 15px;
}

.pricing_content .bottom .price_card button {
    border: none;
    margin: 1.5rem auto;
    background-color: #362065;
    color: #ffffff;
    width: 200px;
    padding: 16px 32px;
    border-radius: 5px;
    cursor: pointer;
}

.price_card .btn_area {
    display: flex;
    justify-content: center;
}

/*======= Testimonials ========*/

.reviews_container {
    width: 100%;
    padding: 2rem 0;
    border-top: 1px solid #362065;
    border-bottom: 1px solid #362065;
    padding-bottom: 4.5rem;
    position: relative;
}

.reviews_content {
    width: 90%;
    margin: auto;
}

.reviews_content .elipse {
    position: absolute;
    top: -5%;
    left: 20%;
}
.reviews_content .top {
    margin-bottom: 4rem;
}

.reviews_content .top h3 {
    font-weight: 600;
    color: #362065;
    font-size: 3rem;
    width: 40%;
}

.reviews_content .bottom {
    display: flex;
}

.reviews_content .bottom div {
    flex: 1;
    color: #1b1b1b;
}

.reviews_content .bottom div .stars {
    width: 9rem;
    margin-bottom: 1.5rem;
}

.reviews_content .bottom .profile {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    gap: 1rem;
}

.reviews_content .bottom .profile img {
    width: 3rem;
}

.reviews_content .bottom .profile div {
    display: flex;
    flex-direction: column;
}

.reviews_content .bottom .name {
    font-weight: 600;
    color: #b4b4b4;
}

.reviews_content .bottom .position {
    color: #b4b4b4;
}

/*====== FAQ =========*/

.FAQ_container {
    width: 100%;
    padding: 2rem 0;
    margin: 4rem 0;
}

.FAQ_content {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
}

.FAQ_content div {
    flex: 1;
}

.FAQ_content div button {
    border: none;
    background-color: #362065;
    color: #ffffff;
    padding: 16px 32px;
    border-radius: 5px;
    cursor: pointer;
}

.FAQ_content div .text {
    width: 80%;
    margin-right: auto;
}

.FAQ_content div .text p {
    margin-bottom: 1.5rem;
    font-size: 16px;
}


.FAQ_content div h3 {
    font-weight: 600;
    width:100%;
    color: #362065;
    font-size: 3rem;
}

.FAQ_content div ul li {
    list-style: none;
    padding: 1rem;
    width: 100%;

    border-bottom: 1px solid #362065;
    position: relative;
}

.FAQ_content div ul li .faq1 {
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.faq_one {
    /* position: absolute;
    top: 50%;
    left: 0; */
    display: block;
    width: 100%;

    padding: 15px 5px;
    transition: ease all 1s;
}

.faq_one h5 {
    margin: 10px 0px;
}

.FAQ_content div ul li:first-child {
    border-top: 1px solid #362065;
}

@media (max-width: 820px) {
    .uploadFile{
        display: block;
    }

    .hero_container .hero_content {
        width: 95%;
        margin-top: 1rem;
    }

    .hero_content .left .browse {
        /* width: 100%; */
        display: none;
    }

    .hero_content .left .elipse {
        display: none;
    }
    .services_content {
        width: 95%;
    }

    .services_content .box img {
        width: 30px;
    }

    .services_content .box h3 {
        color: #362065;
        font-size: 20px;
        margin-top: 20px;
    }

    .services_content .box p {
        font-size: 13px;
        margin-top: 20px;
    }

    .learn_content h2 {
        width: 70%;
    }

    .learn_content .left h3 {
        font-size: 2rem;
    }

    .pricing_content {
        width: 95%;
    }

    .pricing_content .bottom {
        gap: 1.5rem;
    }

    .reviews_content {
        width: 95%;
    }

    .FAQ_content div h3 {
        font-size: 2rem;
    }
}


@media (max-width: 650px) {
    
    .hero_container {
        width: 100%;
    }
    .uploadFile{
        display: block;
    }

    .hero_container .hero_content {
        display: flex;
        width: 90%;
    }

    .hero_content {
        flex-direction: column;
        height: fit-content;
        row-gap: 40px;
    }
    .hero_content .left .elipse {
        display: none;
    }

    .hero_content .left .heading {
        font-weight: 400;
        font-size: 40px;
    }

    .hero_content .right img {
        width: 100%;
        float: left;
    }

    .services_content {
        grid-template-columns: 1fr;
        height: fit-content;
        padding: 0 20px;
    }

    .services_content h3 {
        color: #362065;
        font-size: 20px;
    }

    .services_content p {
        color: #52515b;
        font-size: 16px;
    }
    .services_content .box img {
        margin-bottom: 1rem;
        width: 20px;
    }

    .learn_content .bottom {
        flex-direction: column;
        width: 95%;
    }

    .learn_content h2 {
        font-size: 24px;
        color: #362065;
        width: 100%;
    }

    .learn_content .bottom .left h3 {
        font-size: 16px;
    }

    .learn_content .bottom .right p {
        font-size: 16px;
    }

    .learn_content .bottom h3 {
        font-size: 1.8rem;
    }
    .learn_content .bottom .left .elipse {
        display: none;
    }

    .learn_content .bottom .boxes {
        column-gap: 30px;
    }

    .learn_content .bottom .boxes .box span {
        font-size: 16px;
    }

    .boxes .box .figure {
        font-size: 24px;
    }

    .pricing_content {
        padding: 0 20px;
    }

    .pricing_content .bottom {
        flex-direction: column;
    }

    .pricing_content .bottom .left {
        width: 100%;
    }
    .pricing_content .top h3 {
        font-size: 32px;
        font-weight: 700;
    }

    .pricing_content .top {
        margin-bottom: 2rem;
    }
    .pricing_content .bottom .list img {
        width: 20px;
    }

    .pricing_content .bottom .list h4 {
        font-size: 16px;
    }

    .pricing_content .bottom .list span {
        font-size: 16px;
    }

    /* ================Testimonial======================== */
    .reviews_content {
        padding: 0 20px;
    }

    .reviews_content .top h3 {
        width: 100%;
        font-size: 2rem;
    }

    .reviews_content .bottom {
        flex-direction: column;
        gap: 3rem;
    }

    .reviews_content .elipse {
        display: none;
    }

    .FAQ_container {
        padding: 2rem 0;
        margin: 2rem 0;
    }

    .FAQ_content {
        width: 95%;
        flex-direction: column;
        gap: 2rem;

        padding: 0 20px;
    }

    .FAQ_content div .text {
        width: 100%;
    }

    .FAQ_content div ul {
        width: 100%;
        margin-top: 20px;
    }
}

@media (max-width: 425px) {
    .pricing_content .bottom .price_card .bottom span {
        font-size: 16px;
    }
    .pricing_content .bottom .list span {
        font-size: 16px;
    }
    .pricing_content {
        width: 100%;
    }
    .pricing_content .top button {
        width: 100px;
        padding: 16px 0;
    }
    .learn_content button {
        padding: 1rem;
        border-radius: 10px;
    }
    .learn_content .top {
        margin-left: 0;
    }
    .hero_container {
        height: fit-content;
        background: #FBFBFB;
    }
    .hero_content .left .heading {
        font-size: 40px;
    }
    .pricing_content .bottom .price_card{
        width:100%;
    }
    
    .services_container {
       background: #FBFBFB;
    }
    
}
