.general_container {
    max-width: 1600px;
    margin: auto;
    background-color: #FBFBFB;
}
.profile_div_start{
    padding-right: 0.9rem;
    width:4rem;
}
.learnImg2{
    display:none;
}
input[type="file"]{
    display:none;
}
.sub_heading {
    font-size: 16px;
}
.box{
    padding: 3rem 1rem 0rem;
    background-color: white;
    margin: 0.5rem;
}

/*======= Hero section =======*/

.hero_container {
    width: 100%;
}

.hero_container .hero_content {
    display: flex;
    width: 90%;
    align-items: center;
    margin: auto;
    margin-top: 1rem;
}

.hero_content .left {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
    position: relative;
}
.file{
    display: none;
}

.hero_content .left .elipse {
    position: absolute;
    top: -15%;
    right: 0;
}


.hero_content .left .heading {
    font-size: 3rem;
    font-weight: bold;
    width: 100%;
    color:  #2E3192;
    margin-bottom: 1.3rem;
}

.hero_content .right {
    flex: 1;
}

.hero_content .right img {
    width: 85%;
    float: right;
}

/*====== Services ========*/

.services_container {
    width: 100%;
    background-color: #F3F3FB;
    margin: 5rem 0;
    border-top: 1px solid #2E3192;
    padding-bottom: 1.5em;
    padding-top: 1rem;
}

.services_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 85%;
    margin: 2rem auto;
    gap: 1rem;
    padding: 2rem 0;
}

.services_content h3 {
    color: #2E3192;
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 1rem;
}
.reviews{
    font-size: 16px;
}
.believe{
    font-size: 16px;
}
.services_content p {
    color: #52515b;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.services_content .box img {
    margin-bottom: 1rem;
}

/*======= Learn More ========*/

.learn_container {
    width: 100%;
    margin: 4rem 4rem 1rem 0;
    padding: 4rem 0;
    border-top: 1px solid #2E3192;
}

.learn_content {
    width: 90%;
    margin: auto;
}

.learn_content .top {
    margin-left: 1.4rem;
}
.learn_content h2 {
    margin: 1rem 0 2rem;
    font-size: 3rem;
    color: #2E3192;
    font-weight: 600;
    width: 60%;
}

.learn_content button {
    padding: 1rem 4rem;
    border-radius: 7px;
    border: 1px solid #2E3192;
    font-weight: 600;
    color: #2E3192;
    background-color: white;
    margin-bottom: 4rem;
}

.learn_content .bottom {
    display: flex;
    position: relative;
    background: #F3F3FB;
    padding: 112px 120px;
    margin-top: 5rem;
}

.learn_content .bottom .left {
    flex: 1;
}

.learn_content .bottom .left .elipse {
    position: absolute;
    top: -50%;
    left: 10%;
}
.learn_content img{
    width: 100%;
}
.learn_content .bottom h3 {
    color: #2E3192;
    font-size: 2.5rem;
    width: 90%;
    font-weight: 500;
}

.learn_content .bottom .right {
    flex: 1;
}

.learn_content .bottom .boxes {
    background: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5rem;
}

.learn_content .bottom .boxes .box {
    display: flex;
    flex-direction: column;
}

.boxes .box .figure {
    font-size: 48px;
    margin-top: 1rem;
    line-height: 60px;
    font-weight: 600;
    color: #2E3192;
    
}

/*==== Pricing section ========*/

.pricing_container {
    border-top: 1px solid #2E3192;
    padding: 4rem 0;
}

.pricing_content {
    width: 90%;
    margin: auto;
}

.pricing_content .top {
    margin-bottom: 4rem;
}

.pricing_content .top h3 {
    font-size: 3.5rem;
    color: #2E3192;
    margin: 20px 0;
}

/* .view_all_btn {
    cursor: pointer;
    padding: 16px 32px;
} */

.pricing_content .top button {
    border: none;
    background-color: #2E3192;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 1rem 0;
    /* width: 9rem; */
    cursor: pointer;
    width: 200px;
    padding: 16px 32px;
}

.pricing_content .bottom {
    display: flex;
    justify-content: space-between;
}

.pricing_content .bottom .list {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.pricing_content .bottom .list img {
    width: 25px;
    margin-top: 8px;
}

.pricing_content .bottom .left {
    width: 60%;
    padding-top: 3rem;
}

.pricing_content .bottom .price_card {
    border: 3px solid #2E3192;
    padding: 1.5rem;
    border-radius: 10px;
    line-height: 1.8;
    width: 20rem;
    margin: auto;
}

.pricing_content .bottom .price_card .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #52515b;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.price_card .type {
    font-weight: 500;
    font-size: 1.8rem;
    color: #140f31;
}

.price_card .figure {
    font-size: 2.9rem;
    font-weight: 600;
    margin:2rem;
    color: #2E3192;
}

.price_card .interval {
    font-size: 0.8rem;
}

.pricing_content .bottom .price_card .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pricing_content .bottom .price_card .bottom span {
    display: flex;
    margin: 0.5rem 0;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    gap: 1rem;
}

.pricing_content .bottom .price_card .bottom span img {
    width: 15px;
}

.pricing_content .bottom .price_card button {
    border: none;
    margin: 1.5rem auto;
    background-color: #2E3192;
    color: #ffffff;
    width: 200px;
    padding: 16px 32px;
    border-radius: 5px;
    cursor: pointer;
}

.price_card .btn_area {
    display: flex;
    justify-content: center;
}

/*======= Testimonials ========*/

.reviews_container {
    background-color: #F3F3FB;
    width: 100%;
    padding: 2rem 0;
    border-top: 1px solid #2E3192;
    border-bottom: 1px solid #2E3192;
    padding-bottom: 4.5rem;
    position: relative;
}
.reviews{
    margin-bottom: 1rem;
}

.reviews_content {
    width: 90%;
    margin: auto;
}

.reviews_content .elipse {
    position: absolute;
    top: -5%;
    left: 20%;
}
.reviews_content .top {
    margin-bottom: 4rem;
}

.reviews_content .top h3 {
    font-weight: 600;
    color: #2E3192;
    font-size: 3rem;
    width: 40%;
}

.reviews_content .bottom {
    display: flex;
}

.reviews_content_bottom_div {
    flex: 1 1;
    padding: 16px 16px 8px 16px;
    background: white;
    margin: 1.5rem 1.5rem 0 1.5rem;
}

.reviews_content_bottom_div .stars {
    width: 9rem;
    margin-bottom: 1.5rem;
}

.reviews_content .bottom .profile {
    margin-left: 0px;
    display: flex;
    margin-top: 0;
    align-items: center;
    padding: 0;
}

.reviews_content .bottom .profile div {
    display: flex;
    flex-direction: column;
}

.reviews_content .bottom .name {
    font-weight: bold;
    color: dimgrey;
}

.reviews_content .bottom .position {
    color: #b4b4b4;
}

/*====== FAQ =========*/

.FAQ_container {
    width: 100%;
    padding: 2rem 0;
    margin: 4rem 0;
}

.FAQ_content {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
}

.FAQ_content div {
    flex: 1;
}

.FAQ_content div button {
    border: none;
    background-color: #2E3192;
    color: #ffffff;
    padding: 16px 64px;
    border-radius: 5px;
    cursor: pointer;
}

.FAQ_content div .text {
    width: 80%;
    margin-right: auto;
}

.FAQ_content div .text p {
    margin-bottom: 2.5rem;
    margin-top: 1.4rem;
    font-size: 16px;
}


.FAQ_content div h3 {
    font-weight: 600;
    width:100%;
    color: #2E3192;
    font-size: 3rem;
}

.FAQ_content div ul li {
    list-style: none;
    padding: 1rem;
    width: 100%;

    border-bottom: 1px solid #2E3192;
    position: relative;
}

.FAQ_content div ul li .faq1 {
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.faq_one {
    /* position: absolute;
    top: 50%;
    left: 0; */
    display: block;
    width: 100%;

    padding: 15px 5px;
    transition: ease all 1s;
}

.faq_one h5 {
    margin: 10px 0px;
}
.faqlist{
    font-size: 16px;
}
.FAQ_content div ul li:first-child {
    border-top: 1px solid #2E3192;
    font-size: 16px;
}

@media (max-width: 820px) {
    .uploadFile{
        display: block;
    }

    .hero_container .hero_content {
        width: 95%;
        margin-top: 1rem;
    }

    .hero_content .left .browse {
        /* width: 100%; */
        display: none;
    }

    .hero_content .left .elipse {
        display: none;
    }
    .services_content {
        width: 95%;
    }

    .services_content .box img {
        width: 30px;
    }

    .services_content .box h3 {
        color: #2E3192;
        font-size: 15px;
        margin-top: 20px;
    }

    .services_content .box p {
        font-size: 15px;
        margin-top: 20px;
    }

    .learn_content h2 {
        width: 70%;
    }

    .learn_content .left h3 {
        font-size: 2rem;
    }

    .pricing_content {
        width: 95%;
    }

    .pricing_content .bottom {
        gap: 1.5rem;
    }

    .reviews_content {
        width: 95%;
    }

    .FAQ_content div h3 {
        font-size: 1.5rem;
    }
    .learn_content .bottom {
        padding: 80px 40px;
    }
    .learn_content .bottom .right p {
        font-size: 14px;
    }
    .reviews{
        font-size: 14px;
    }
    .FAQ_content div .text p {
        font-size: 14px;
    }
}


@media (max-width: 767px) {
    .learn_content .bottom {
        margin-top: 4rem;
    }
    .box{
        padding: 1rem;
        border-radius: 10px;
    }
    .learnImg2{
        display:block;
    }
    .learnImg{
        display:none;
    }
    .Hero_FAQ_content__xOSam div .Hero_text__9h75H p {
        font-size: 16px;
    }
    .believe{
        font-size: 16px;
    }
   
    .Hero_box__Y9r6z {
        padding: 2rem 1rem 1rem;
        background-color: white;
        margin: 0.5rem;
    }
    
    .hero_container {
        width: 100%;
    }
    .uploadFile{
        display: block;
    }

    .hero_container .hero_content {
        display: flex;
        width: 90%;
    }

    .hero_content {
        flex-direction: column;
        height: fit-content;
        row-gap: 40px;
    }
    .hero_content .left .elipse {
        display: none;
    }

    .hero_content .left .heading {
        font-size: 40px;
    }

    .hero_content .right img {
        width: 100%;
        float: left;
    }

    .services_content {
        grid-template-columns: 1fr;
        height: fit-content;
        padding: 0 10px;
    }

    .services_content h3 {
        color: #2E3192;
        font-size: 16px;
    }

    .services_content p {
        color: #52515b;
        font-size: 16px;
    }
    .services_content .box img {
        margin-bottom: 1rem;
        width: 20px;
    }

    .learn_content .bottom {
        flex-direction: column;
        width: 100%;
        padding: 80px 20px;
    }

    .learn_content h2 {
        font-size: 24px;
        color: #2E3192;
        width: 100%;
    }

    .learn_content .bottom .left h3 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    

    .learn_content .bottom h3 {
        font-size: 1.8rem;
    }
    .learn_content .bottom .left .elipse {
        display: none;
    }

    .learn_content .bottom .boxes {
        column-gap: 30px;
    }

    .learn_content .bottom .boxes .box span {
        font-size: 16px;
    }

    .boxes .box .figure {
        font-size: 24px;
    }

    .pricing_content {
        padding: 0 20px;
    }

    .pricing_content .bottom {
        flex-direction: column;
    }

    .pricing_content .bottom .left {
        width: 100%;
    }
    .pricing_content .top h3 {
        font-size: 32px;
        font-weight: 700;
    }

    .pricing_content .top {
        margin-bottom: 0;
    }
    .pricing_content .bottom .list img {
        width: 20px;
    }

    .pricing_content .bottom .list h4 {
        font-size: 16px;
    }

    .pricing_content .bottom .list span {
        font-size: 16px;
    }

    /* ================Testimonial======================== */
    .reviews_content {
        padding: 0 20px;
    }

    .reviews_content .top h3 {
        width: 100%;
        font-size: 1.5rem;
    }

    .reviews_content .bottom {
        flex-direction: column;
    }

    .reviews_content .elipse {
        display: none;
    }

    .FAQ_container {
        padding: 2rem 0;
        margin: 2rem 0;
    }

    .FAQ_content {
        width: 95%;
        flex-direction: column;
        gap: 2rem;

        padding: 0 20px;
    }

    .FAQ_content div .text {
        width: 100%;
    }

    .FAQ_content div ul {
        width: 100%;
        margin-top: 20px;
    }
    .reviews_content .bottom div{
    margin: 0 0 2rem 0;
    }
    
.reviews_content .bottom .profile{
    margin-bottom: -9px;
}
}

@media (max-width: 425px) {
    .reviews_content .bottom .name {
        margin-bottom: -0.6rem;
    }
    .pricing_content .bottom .price_card button {
        padding: 13px 32px;
    }
    .reviews_content .top {
         margin-bottom: 2rem;
    }
    .services_container {
        padding-bottom: 0;
    }
    .profile_div_start{
        width:3rem;
    }
    .box{
        margin: 0;
    }
    .pricing_content .bottom .price_card .bottom span {
        font-size: 14px;
    }
    .pricing_content .bottom .list span {
        font-size: 14px;
    }
    .pricing_content {
        width: 100%;
    }
    .pricing_content .top button {
        width: 100px;
        padding: 16px 0;
    }
    .learn_content button {
        padding: 1rem;
        border-radius: 10px;
    }
    .learn_content .top {
        margin-left: 0;
    }
    .hero_container {
        height: fit-content;
        background: #FBFBFB;
    }
    .hero_content .left .heading {
        font-size: 40px;
    }
    .pricing_content .bottom .price_card{
        width:100%;
    }
    
    .services_container {
       background: #FBFBFB;
    }
    
}
