@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Red+Rose:wght@400;600;700&display=swap");

:root {
    --primary-color: #52515b;
    --secondary-color: #2e3192;
    --primary-purple: #6a00ff;
    --dark-blue: #171646;
    --color-gray: #52515b;
    --darkGray: #171b1d;
    --text-dark: #1b1b1b;
    --primary-gray: #b4b4b4;
    --secondary-gray: #e1e1e1;
    --color-white: #ffffff;
    --darkblue: #5052a5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Outfit", sans-serif;
}

h5 {
    color: var(--dark-blue);
}
main {
    width: 100vw;
    padding-top: 1.7rem;
    padding-bottom: 2rem;
    border-top: 1px solid #140f31;
}

.hero_container_wrapper {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 20px;
}

/* .grid_box {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin: auto;
    padding-top: 64px;
    justify-items: center;
    column-gap: 32px;
    max-width: 1280px;
} */

.hero_left_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: start;
    padding: 32px 8px;
}

.text-box {
    width: 592px;
}

.hero_heading_text {
    padding-top: 12px;
    font-weight: 400;
    line-height: 120%;
    font-style: normal;
    font-family: Outfit;
    color: #202065;
    font-size: 72px;
}

.hero_parag_text {
    font-size: 16px;
    margin-bottom: 56px;
    color: #52515b;
    margin-top: 20px;
}

.upload-box {
    width: 479px;
    border: 1px solid #999999;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 37px;
    gap: 10px;
    background: #fff;
    border-radius: 8px;
}

.upload-box_img {
    display: flex;
    justify-content: center;
}

.hero-img-wrapper {
    width: 585.65px;
}

/* ==============================Features===section=============== */

.features {
    border-top: 1px solid #140f31;
    padding-top: 1.7rem;
    padding-bottom: 2rem;
}

.feature-section-container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;

    padding-top: 20px;
    margin-bottom: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 48px;
}

.card-one {
    display: flex;
    flex-direction: column;
}

.check-wrapper {
    width: 40px;
    height: 40px;
}

.check-img {
    width: 100%;
    height: 100%;
}

.card-one h5 {
    font-size: 28px;
    margin-top: 14px;
}

.card-one p {
    font-size: 16px;
    color: var(--color-gray);
    margin-top: 16px;
}

@media screen and (max-width: 768px) {
    .hero_container_wrapper {
        flex-direction: column;
        justify-content: center;
    }

    .text-box {
        width: 100%;
    }

    .hero_heading_text {
        padding-top: 12px;
        font-weight: 400;
        line-height: 48px;
        font-style: normal;
        font-family: Outfit;
        color: #202065;
        font-size: 40px;
    }

    .hero_parag_text {
        font-size: 14px;

        line-height: 21px;
    }

    .upload-box {
        display: none;
    }

    .hero-img-wrapper {
        width: 318px;
    }

    .hero-img {
        width: 100%;
    }

    /* -=======================Features===Section=================== */
    .feature-section-container {
        width: 90%;
        max-width: 1400px;
        margin: 0 auto;

        padding-top: 20px;
        margin-bottom: 20px;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 48px;
    }

    .card-one {
        display: flex;
        flex-direction: column;
    }

    .check-wrapper {
        width: 20px;
        height: 20px;
    }

    .check-img {
        width: 100%;
        height: 100%;
    }

    .card-one h5 {
        font-size: 20px;
        margin-top: 14px;
    }

    .card-one p {
        font-size: 14px;
        color: var(--color-gray);
        margin-top: 16px;
    }
}
