.faqWrapper {
    width: min(90%, 85rem);
    margin-inline: auto;
}

.faqmain {
    margin-bottom: 2.5rem;
}

.faqheading {
    line-height: 1.4;
    margin-bottom: 1rem;
    color:  #4347B2;
}

.faqText {
    margin-bottom: 1rem;
    font-size: 0.87rem;
    color: #1b1b1b;
    font-weight: 300;
}

.content__box {
    /*border: 2px solid red;*/

    border-bottom: 1px solid #9194a1;
    cursor: pointer;
    padding: 1rem 0 0.5rem;
    width: 100%;
}
.faqlist{
    font-size: 16px;
}
.contentbox__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.innerText{
    padding-right:0.5rem;
}

.minheading {
    font-weight: 400;
    margin-bottom: 1rem;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #52515B;
}

.faqicon {
    margin-top: -0.4rem;
    transition: all 0.3s ease-in;
}

.faqicon__active {
    transform: rotate(-180deg);
}
@media only screen and (max-width:899px){
    .majorPlan {
        flex-direction: column;
        margin:0 auto;
        justify-content: center;
        align-items: center;
     }
     .card{
        width: fit-content;
     }
}
@media screen and (max-width: 584px) {
    .toggle {
        display: none;
    }
    .minheading{
        font-size: 14px;
    }
}

/*BreakPoints*/
@media only screen and (min-width: 900px) {
   
    .mainheading {
        margin-bottom: 1.625rem;
        font-size: 2.5vmax;
    }

    .primaryText {
        font-size: 2vmax;
    }

    .majorPlan {
        display: flex;
    padding: 7rem 0 ;
    flex-direction: row;
    justify-content: space-around;
        gap: 3vmax;
        padding: 7rem 0;
        position: relative;
        /*grid-template-rows: auto;*/
        /*justify-content: space-between;*/
    }

    .majorPlan > .card:nth-child(2) {
        transform: scale(1.1, 1.25);
    }

    .majorPlan > .card:not(:nth-child(2)) .statusWrapper {
        margin-bottom: 2rem;
    }

    .status {
        gap: 0.5rem;
    }

    .status__text {
        font-size: 1vmax;
    }

    .secondaryHeading {
        font-size: 2vmax;
    }

    .secondaryText {
        font-size: 1.5vmax;
    }

    .faqWrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3.5vmax;
    }

    .faqText {
        font-size: 1rem;
        margin-bottom: 1rem;
        max-width: 35ch;
    }

    .faqheading {
        font-size: 2.3vmax;
        max-width: 15ch;
    }
}