.dashboardnothing{
    
    width: 90vw;
    height: 100vh;
    
}
.top-dashboard-stripe{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #2E3192;
    
}
.top-dashboard-stripe h2{
    margin: 0;
}
.top-dashboard-stripe p{
    margin: 10px 0;
}
.top-dashboard-right{
    display: flex;
    align-items: center;
}
.top-dashboard-right img{
    object-fit: cover;
}


/* dashboard overview styling */

.dashboard-overview{
    padding: 50px 20px;
    width: 100%;
    
}

.overview-cards-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.overview-card{
   
    background-color: #E9F3F7;
    text-align: center;
    padding: 100px 30px;
    
    border-radius: 5px;
}
.overview-card p{
    margin: 0;
    margin-top: 5px;
    border-radius: 5px;
}

.overview-card-wrapper{
    padding: 0 20px;
    width: 100%;
}

.overview-card-wrapper:nth-child(2){
    border-left:  1px solid blue;
    border-right: 1px solid blue;
}




/* my appliaction */

.dashboard-myapplication{
    background-color: #E9F3F7;
    padding: 20px;
    margin: 50px;
}
.dashboard-myapplication h5{
    margin-bottom: 20px;
}

.application-array-card{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 10px;
}
.application-array-card p{
    margin: 5px 0px;
}
.application-array-card h4{
    margin-bottom: 0;
}
.cardleftarray{
    display: flex;
    align-items: center;
}
.cardleftarray img{
    margin-right: 20px;
    object-fit: cover;
}
@media screen and (max-width:768px) {

     .dashboard-myapplication{
    margin: 10px;
    padding: 10px 5px;
   }
}
@media screen and (max-width:600px) {
    .overview-cards-wrapper{
        
        width: 100%;
       } 
    .dashboardnothing{
    
        width: 100vw;
        height: 100vh;
        
        
    }
    .overview-card-wrapper:nth-child(1){
        padding-left: 0;
    }
    .overview-cards-wrapper{
        width: 100%;
        
    
    }  
    .overview-card{
        padding:30px 20px;
    }
    .overview-card-wrapper:nth-child(2){
        border-left:  0;
        border-right: 0;
        
        margin-bottom: 20px;
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    .overview-card-wrapper:nth-child(3){
        padding-left: 0;
    }
    .dashboard-myapplication{
        margin: 10px;
        padding: 10px 10px;
    }
}

@media screen and (max-width:481px) {

    .dashboardnothing{
    
        width: 100vw;
        height: 100vh;
    
        
    }
   .overview-cards-wrapper{
    min-width: 200px;
    flex-wrap: wrap;
   }  
   .overview-card{
    margin-bottom: 30px;
   }
   .dashboard-myapplication{
    margin: 0;
    padding: 10px 10px;
   }
   .overview-card-wrapper:nth-child(2){
    border-left:  0;
    border-right: 0;
}
.dashboard-myapplication img{
    width: 24px;
    height: 24px;
    margin-right: 5px;
}
.dashboard-myapplication h4{
    font-size: 1em;
}
.application-array-card{
    padding: 5px;
}
.overview-card{
    padding:70px 30px;
}
}