.Reverse {
    position: relative;
}
.Liner {
    display: none;
}
.Nav-App {
    background-color: #2e3192;
    box-shadow: 0px 4px 4px rgba(241, 120, 182, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 47px;
}
.BellP {
    display: flex;
    align-items: center;
    gap: 48px;
}
.leftBar {
    text-align: center;
    position: absolute;
    left: 0;
    z-index: 1;
    padding: 70px 40px;
}
.leftBar1 {
    display: none;
}
.leftBar > div > h2 {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #828282;
    margin: 0;
}
.chatS {
    margin-bottom: 180px;
}
.lefT {
    margin-bottom: 30px;
}
.lefT > img {
    margin-bottom: 15px;
}
.boaRD {
    display: flex;
    gap: 20px;
    box-sizing: border-box;
    padding-left: 170px;
    margin-top: 50px;
    width: 100%;
    padding-bottom: 100px;
}
.boa {
    background: #fdfdff;
    border: 1px solid #e1e2ff;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px 20px;
}
.Search {
    position: relative;
}
.Search > img {
    position: absolute;
    left: 13px;
    top: 15px;
}
.Search > input {
    width: 266px;
    height: 47px;
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid #c5c3c3;
    padding-left: 56px;
    box-sizing: border-box;
}
.CHAT {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #5d5fef;
}
.SearchChat {
    display: flex;
    align-items: center;
    gap: 20px;
}
.Support {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 12px;
}
.Supports {
    display: flex;
    align-items: center;
    gap: 20px;
    background: #ffffff;
    box-sizing: border-box;
    padding: 15px 12px;
    width: 367px;
    margin-top: 8px;
    cursor: pointer;
}
.Supports:hover {
    border: 1px solid #dfe0eb;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0 12px;
    transition: 0.2s;
}
.Support:hover {
    border: 1px solid #dfe0eb;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0 12px;
    transition: 0.2s;
}
.Supportt:hover {
    border: 1px solid #dfe0eb;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0px 12px;
    transition: 0.2s;
}
.suPP > h2 {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    color: #000000;
    margin: 0;
    padding-bottom: 6px;
}
.suPP > p {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.14px;
    color: #0f0f0f;
    margin: 0;
    width: 40ch;
}
.Supportt {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 15px;
    padding: 0 12px;
}
.suPPP > h2 {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    color: #000000;
    margin: 0;
    padding-bottom: 6px;
}
.suPPP > p {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #a2a2a2;
    margin: 0;
}
.one {
    width: 24px;
    height: 25px;
    background: #e1e2ff;
    text-align: center;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 4px;
    margin-left: 20px;
}
.Mess {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    padding-left: 20px;
}
.bOA {
    background: #fdfdff;
    border: 1px solid #e1e2ff;
    border-radius: 20px;
    width: 62%;
    box-sizing: border-box;
}
.opContain {
    padding: 20px 40px;
}
.sNav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.sNav > div {
    display: flex;
    gap: 50px;
}
.sNav > div > img {
    width: 18px;
}
.opOp {
    display: flex;
    gap: 29px;
}
.opOp1 > p {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.14px;
    width: 50ch;
    border: 1px solid #a5a6f6;
    border-radius: 10px;
    padding: 10px;
}
.opOp1 > h6 {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    margin: 0;
    color: #333333;
}
.opop {
    display: flex;
    gap: 29px;
    flex-direction: row-reverse;
}
.opop1 > p {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.14px;
    width: 50ch;
    background: #2e3192;
    border-radius: 10px;
    padding: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.14px;
    color: #ffffff;
}
.opop1 > h6 {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    margin: 0;
    color: #333333;
}
.opop1 {
    text-align: right;
}
.IconS {
    position: relative;
}
.IconS1 {
    position: absolute;
    right: 15px;
    top: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.IconS > input {
    height: 57px;
    width: 100%;
    border: 1px solid #a5a6f6;
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 20px;
}
.Dot {
    display: flex;
    align-items: center;
    gap: 20px;
}
.Dot > h1 {
    color: rgba(0, 0, 0, 0.54);
    width: 15px;
}
@media (max-width: 1300px) {
    .bOA {
        width: 58%;
    }
}
@media (max-width: 1200px) {
    .bOA {
        width: 55%;
    }
}
@media (max-width: 1100px) {
    .opOp1 > p {
        font-size: 10px;
    }
    .opop1 > p {
        font-size: 10px;
    }
    .suPP > p {
        width: 30ch;
    }
    .Supports {
        width: 300px;
    }
    .Search > input {
        width: 200px;
    }
}
@media (max-width: 1000px) {
    .opOp1 > p {
        font-size: 8px;
    }
    .opop1 > p {
        font-size: 8px;
    }
    .suPP > p {
        width: 30ch;
        font-size: 8px;
    }
    .Supports {
        width: 270px;
    }
    .Search > input {
        width: 170px;
    }
}
@media (max-width: 920px) {
    .leftBar {
        padding: auto;
    }
    .boaRD {
        padding-left: 250px;
    }
    .boa {
        width: 70%;
    }
    .boa-NX {
        display: none;
    }
    .bOA-NX {
        display: none;
    }
    .bOA {
        width: 70%;
    }
    .opOp1 > p {
        font-size: auto;
    }
    .opop1 > p {
        font-size: 10px;
    }
    .suPP > p {
        width: 50ch;
    }
    .Supports {
        width: auto;
    }
    .Search > input {
        width: auto;
    }
}
@media (max-width: 820px) {
    .bOA {
        width: 80%;
    }
    .boa {
        width: 70%;
    }
    .boaRD {
        padding-left: 200px;
    }
}
@media (max-width: 720px) {
    .bOA {
        width: 90%;
    }
    .boa {
        width: 80%;
    }
    .boaRD {
        padding-left: 170px;
    }
    .suPP > p {
        width: 50ch;
    }
}
@media (max-width: 620px) {
    .suPP > p {
        width: 40ch;
    }
    .opOp1 > p {
        font-size: 9px;
        width: 40ch;
    }
    .opop1 > p {
        font-size: 9px;
        width: 40ch;
    }
    .boa {
        width: 90%;
    }
}
@media (max-width: 540px) {
    .leftBar {
        bottom: -270px;
        position: fixed;
        display: flex;
        box-sizing: border-box;
        margin: auto;
        justify-content: space-between;
        gap: 35px;
        background-color: #ffffff;
        border-top: 1px solid #000000;
        padding-top: 30px;
        padding-bottom: 120px;
    }
    .boaRD {
        padding-left: 70px;
    }

    #left1 {
        display: none;
    }
    .boa {
        width: 90%;
    }
    .BellP {
        display: none;
    }
    .Nav-App {
        text-align: center;
        display: block;
    }
    .imgg1 {
        width: 8px;
    }
    .imgg2 {
        width: 13px;
    }
    .imgg3 {
        width: 30px;
    }
    .IconS1 {
        gap: 20px;
        top: 13px;
    }
}
@media (max-width: 500px) {
    .boaRD {
        padding-left: 70px;
    }
    .leftBar > div > h2 {
        font-size: 14px;
    }
    #left {
        display: none;
    }
    .leftBar {
        gap: 55px;
    }
}
@media (max-width: 460px) {
    .boaRD {
        padding-left: 60px;
    }
    .leftBar {
        gap: 45px;
    }
}
@media (max-width: 430px) {
    .boaRD {
        padding-left: 40px;
    }
    .leftBar > div > h2 {
        font-size: 12px;
    }
    .imgg1 {
        width: 7px;
    }
    .imgg2 {
        width: 11px;
    }
    .imgg3 {
        width: 25px;
    }
    .IconS1 {
        gap: 10px;
        top: 15px;
    }
}
@media (max-width: 400px) {
    .boaRD {
        padding-left: 30px;
    }
    .boa {
        width: 95%;
    }
    .leftBar {
        gap: 33px;
    }
}
@media (max-width: 390px) {
    .boaRD {
        padding-left: 20px;
    }
    .leftBar {
        gap: 28px;
    }
}
@media (max-width: 380px) {
    .boaRD {
        padding-left: 16px;
    }
}
