.Reverse {
    position: relative;
  }
  .Liner {
    display: none;
  }
  .Nav-App {
    background-color: #2e3192;
    box-shadow: 0px 4px 4px rgba(241, 120, 182, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 47px;
  }
  .BellP {
    display: flex;
    align-items: center;
    gap: 48px;
  }
  .leftBar {
    text-align: center;
    position: absolute;
    left: 0;
    z-index: 1;
    padding: 70px 40px;
  }
  .leftBar1 {
    display: none;
  }
  .leftBar > div > h2 {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #828282;
    margin: 0;
  }
  .chatS {
    margin-bottom: 180px;
  }
  .lefT {
    margin-bottom: 30px;
  }
  .lefT > img {
    margin-bottom: 15px;
  }