/* @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap"); */

/* NORMALIZATION */
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: calc(16px + 0.0396vw);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Outfit", sans-serif;
    box-sizing: inherit;
}

p,
h1 {
    margin: 0;
}

:root {
    --primary-white: #fff;
    --primary-gray: rgba(82, 81, 91, 1);
    --primary-black: #434343;

    --primary-border: rgba(247, 247, 247, 0.1);
    --primary-background: #eaecf0;
    --primary-blue: #2e3192;
    --secondary-blue: #171646;
    --primary-gray-bg: #f7f7f8;
    --primary-text-btn: rgba(196, 213, 238, 0.2);
}

@import url('./styles/Navbar.css');
@import url('./styles/Header.css');
@import url('./styles/Who.css');
@import url('./styles/MidContent.css');
@import url('./styles/What.css');
@import url('./styles/Footer.css');
@import url('./styles/Copy.css');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Outfit', sans-serif;
}
