button {
    cursor: pointer;
}
.form_wrapper {
    width: 85%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    padding: 1em 2em 40px;
}

.input {
    width: 100%;
    padding: 12px 24px;
    margin-block: 0.5rem;
    border: 1px solid #737373;
    border-radius: 4px;
}

.select {
    width: 100%;
    padding: 12px 24px;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid #737373;
    border-radius: 4px;
    color: #737373;
}

.checkbox {
    display: flex;
    align-items: center;
    padding: 12px 0;
    gap: 1em;
}

.checkbox input {
    width: 24px;
    height: 24px;
}

::placeholder {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #737373;
}

.wrapping_col {
    display: flex;
    flex-direction: column;
}

.button {
    display: flex;
    justify-content: flex-end;
}

@media screen and (min-width: 768px) {
    .button {
        align-self: flex-end;
    }
}

@media screen and (min-width: 1023px) {
    .row_of_3 {
        display: flex;
        gap: 1.5em;
        justify-content: space-between;
    }

    .row_of_3 div {
        flex-grow: 1;
    }
}
.details {
    padding-top: 5rem;
    padding-bottom: 62px;
    border-bottom: 1px solid #8b8c8f;
}
.personal_info {
    padding-bottom: 1rem;
    font-weight: 400;
    font-size: 24px;
    color: #222226;
}
.details span {
    font-weight: 400;
    font-size: 12px;
    color: #999999;
    padding-bottom: 1rem;
}
.only_remote {
    font-weight: 400;
    font-size: 16px;
    color: #737373;
}

@media screen and (min-width: 850px) {
    .detailsdropdown_box {
        display: grid;
        grid-template-columns: repeat(3, 29%);
        gap: 1rem;
        margin-top: 1.25rem;
        margin-bottom: 1.5rem;
        padding-bottom: 2rem;
    }
}
@media screen and (max-width: 850px) {
    .detailsdropdown_box {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1.25rem;
        margin-bottom: 1.5rem;
        padding-bottom: 2rem;
    }
}
.detailsdropdown_box p {
    font-weight: 400;
    font-size: 1rem;
    color: #999999;
}
.detailsdropdown_box div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
