.profile_page {
    padding-left: 5%;
    height: 100vh;
    width: 100vw;
    background-color: #f3f3fb;
}
@media screen and (min-width: 720px) {
    .each_profile {
        width: 90%;
        display: flex;
        background: #fefeff;
        border-radius: 12px;
        justify-content: space-between;
        margin-top: 2.8rem;
        padding-inline: 1.5rem;
        padding-block: 1.5rem;
    }
}
@media screen and (max-width: 720px) {
    .each_profile {
        width: 90%;
        display: flex;
        flex-direction: column;
        background: #fefeff;
        border-radius: 12px;
        justify-content: space-between;
        margin-top: 2.8rem;
        padding-inline: 1.5rem;
        padding-block: 1.5rem;
    }
}
.each_profile img {
    width: 1.5rem;
    height: 1.5rem;
}
.edit_box {
    display: flex;
    gap: 3.4rem;
}
.edit_box img {
    margin: auto;
}
.emails_forms {
    display: flex;
}
.createjob_button {
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 15rem;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: #2e3192;
    border: 0;
    cursor: pointer;
}
.createjob_button img {
    width: 0.875rem;
    height: 0.875rem;
}
.createjob_button p {
    color: #fbfbff;
    font-size: 1rem;
    font-weight: 600;
}
h4 {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 150%;
    margin-bottom: 1rem;
}
