.profile_page {
    padding-left: 5%;
    padding-bottom: 25%;
    width: 100vw;
    background-color: #f3f3fb;
    margin-left: 9rem;
}
.sidemarg {
    margin-left: 9rem;
}
@media only screen and (max-width: 480px) {
    .profile_page,
    .sidemarg {
        margin-left: 0;
    }
}

.edit_box h3 {
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
    /* width: 25%; */
}
.edit_box p {
    /* width: 50%; */
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 0.25rem;
}
.job_deets {
    display: flex;
    gap: 0.5rem;
}
@media screen and (min-width: 720px) {
    .each_profile {
        width: 90%;
        background: #fefeff;
        border-radius: 12px;
        margin-top: 1.25rem;
        padding-inline: 1.5rem;
        padding-block: 1.5rem;
    }
    .edit_box {
        display: flex;
        justify-content: space-between;
    }
    .edit_box p {
        width: 40%;
        font-weight: 400;
        font-size: 1rem;
        margin-bottom: 0.25rem;
    }
    .edit_box h3 {
        font-weight: 400;
        font-size: 1.5rem;
        margin-bottom: 0.25rem;
        width: 45%;
    }
}
@media screen and (max-width: 720px) {
    .each_profile {
        width: 90%;
        background: #fefeff;
        border-radius: 12px;
        margin-top: 1.25rem;
        padding-inline: 1.5rem;
        padding-block: 1.5rem;
    }
    .edit_box p {
        /* width: 22%; */
        font-weight: 400;
        font-size: 1rem;
        margin-bottom: 0.25rem;
    }
}

.createjob_button {
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 15rem;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: #2e3192;
    border: 0;
    cursor: pointer;
}
.createjob_button img {
    width: 0.875rem;
    height: 0.875rem;
}
.createjob_button p {
    color: #fbfbff;
    font-size: 1rem;
    font-weight: 600;
}

.profile_description {
    padding-left: 5%;
    padding-bottom: 30%;
    background-color: #f3f3fb;
    width: 100%;
    font-weight: 800;
}
.profiledesc_details div {
    margin-bottom: 1rem;
}
.profiledesc_details h6 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #52515b;
    margin-bottom: 0.5rem;
}
.profiledesc_details h5 {
    color: #52515b;
    font-size: 0.8rem;
    font-weight: 300;
}
.profiledesc_details p {
    color: #52515b;
    font-size: 1.3rem;
    font-weight: 400;
}
.prev_btn {
    background-color: transparent;
    border: 0;
    color: #2e3192;
}
.back_icon {
    font-size: 1.5rem;
    margin-block: 1rem;
}
.loading_animate {
    margin-top: 50vh;
    width: 100%;
    height: 5px;
    background-color: #bfbfbf;
    border-radius: 5px;
    animation: loading_animation 2s linear infinite;
}
.loading_box {
    margin-left: 50%;
}
.loading_box p {
    text-align: center;
}
@media only screen and (max-width: 480px) {
    .loading_box {
        margin-left: 0;
    }
    .loading_animate {
        margin-inline: auto;
        width: 50%;
    }
}
/* Define animation  */
@keyframes loading_animation {
    0% {
        background-color: #bfbfbf;
        background-position: 0% 0%;
    }

    50% {
        background-color: #2f80ed;
        background-position: 100% 0%;
    }
}

.delete_icon {
    font-size: 2rem;
    cursor: pointer;
}
