input[type="search"] {
    width: 90%;
    color: #bfbfbf;
    /* border: 1px #bfbfbf solid; */
    border: none;
    border-radius: 8px;
    outline: none;
    text-indent: 30px;
    height: 100%;
}

.applications_search_form {
    box-sizing: border-box;
    padding: 0px 0px 0px 20px;
    display: flex;
    align-items: center;
    gap: 0px;
    width: 516px;
    height: 56px;
    border: 1px solid #BFBFBF;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.applications_search_form > svg {
    /* position: absolute; */
    right: auto;
    top: 30px;
    left: 30px;
    width: 1.5em;
    height: 1.5em;
    color: #bfbfbf;
}

@media (max-width: 480px) {
    .applications_search_form {
        width: 90%;
    }
}
