input[type="search"] {
    width: 100%;
    color: #bfbfbf;
    border: 1px #bfbfbf solid;
    border-radius: 8px;
    outline: none;
    text-indent: 50px;
    height: 56px;
}

.applications_search_form {
    position: relative;
    max-width: 500px;
    min-width: 200px;
}

.applications_search_form > svg {
    position: absolute;
    right: auto;
    top: 30px;
    left: 30px;
    width: 1.5em;
    height: 1.5em;
    color: #bfbfbf;
}

@media (max-width: 480px) {
    .applications_search_form {
        width: 90%;
    }
    /* … */
}
