
#topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#topNav .left .hamburger{
     margin-right: 1em;
}
#topNav .right{
    display: flex;
    align-items: center;
}
#topNav .right .notification {
    margin-right: 1em;
}
#topNav h3{
    display: none;
    color: #2E3192;
    font-size: 2rem;
}
@media (min-width:1024px) {
    #topNav .left .hamburger {
        display: none;
    }
    #topNav .left{
        display: flex;
        align-items: center;
    }
    #topNav h3 {
        display: block;
}
#topNav .logo{
    display: none
}

}