.account_settings_container {
    width: 100%;
    background: #f3f3fb;
}

.body_container {
    width: 85%;
    min-width: clamp(50rem, 10vw, 59rem);
}

.body_container .body_content {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    padding-left: 12.5rem;
}

.general_details > h2 {
    color: #171b1d;
    font-size: clamp(1.25rem, 8vw, 2rem);
    margin-bottom: 0.25rem;
}

.general_details > p {
    color: #52515b;
    margin-bottom: 1rem;
}

.details_settings {
    display: flex;
    column-gap: 3rem;
    width: 100%;
}

.details_setting,
.photo_and_plan_settings,
.membership_plan_container {
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 0.5rem;
}

.details_setting {
    width: 60%;
}

.photo_and_plan_settings {
    width: 40%;
}

.settings_heading {
    border-bottom: 1px solid #cccccc;
    color: #171b1d;
    font-size: clamp(1rem, 9vw, 1.25rem);
    font-weight: 500;
    width: 100%;
}

.settings_form,
.settings_heading,
.edit_photo,
.plan_details_container,
.edit_plan_container {
    padding: 1rem;
}

.settings_form {
    display: flex;
    flex-direction: column;
}

.form_row {
    display: flex;
}

.form_control > label {
    color: #171b1d;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 0 0.5rem;
}

.form_control > input {
    border: 1px solid #999999;
    border-radius: 0.4rem;
    color: #999999;
    font-size: 0.9rem;
    padding: 0.4rem 0.7rem;
    margin-bottom: 1rem;
}

.form_control:nth-child(2n),
.update_personal_details {
    margin-left: 2rem;
}

.form_control {
    display: flex;
    flex-direction: column;
}

.account_settings_container button {
    background-color: transparent;
    border: transparent;
}

.account_settings_container button:focus,
.form_control > input {
    outline: none;
}

.update_personal_details {
    color: #202065;
    font-weight: 500;
    margin-top: 0.6rem;
}

.edit_photo {
    align-items: center;
    border-bottom: 1px solid #cccccc;
    display: flex;
}

.edit_photo_buttons {
    display: flex;
    flex-direction: column;
}

.edit_buttons {
    padding: 0 1rem;
}

.edit_buttons > button {
    margin-right: 1rem;
}

.edit_button_red {
    color: #8d3434;
}

.edit_button_blue {
    color: #202065;
}

.plan_details {
    color: #737373;
    font-size: 0.8rem;
}

.edit_plan {
    display: flex;
}

.current_plan {
    color: #171b1d;
    font-size: 1.25rem;
    text-transform: uppercase;
}

.change_plan {
    margin-left: 2rem;
}

.settings_heading_without_border {
    border: transparent;
    padding-bottom: 0.8rem;
}

.settings_heading_without_padding {
    padding: 0;
}

.membership_plan_container {
    margin: 3rem 0 5rem;
}

.plan_details_container {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.plan_details {
    display: flex;
    flex-direction: column;
}

.account_settings_container .preferred_card {
    border: 1px solid #000000;
    border-radius: 0.25rem;
    padding: 0.35rem;
    text-transform: uppercase;
}

.card_details {
    align-items: center;
    display: flex;
    margin-bottom: 0.5rem;
}

.card_number {
    margin-left: 1.5rem;
}

.card_number,
.card_number > span {
    font-size: 1.5rem;
    color: #171b1d;
}

.next_billing_date {
    margin-top: 1rem;
}

@media screen and (max-width: 1238px) {
    .body_container {
        width: 97%;
    }

    .details_settings {
        column-gap: 1.5rem;
    }

    .details_setting {
        width: 70%;
    }

    .photo_and_plan_settings {
        width: 30%;
    }
}

@media screen and (max-width: 999px) {
    .body_container {
        width: 95%;
        min-width: auto;
    }

    .details_settings {
        flex-direction: column;
        row-gap: 2.5rem;
    }

    .details_setting,
    .photo_and_plan_settings {
        width: 100%;
    }

    .plan_details_container {
        flex-direction: column;
        row-gap: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .form_row {
        flex-direction: column;
    }

    .form_control:nth-child(2n) {
        margin: 0;
    }
}

@media screen and (max-width: 480px) {
    .body_container .body_content {
        padding: 1.5rem;
    }

    .body_container {
        width: 100%;
    }

    .update_personal_details {
        margin-left: 0;
    }
}
