@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500;600;700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,200;1,700&family=Outfit:wght@400;500;600;700;800;900&display=swap');


{/** General Container*/}
.root {
    width: 100%;
    background-color: white;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;

}

.container {
    width: fit-content;
    margin-top: 0;
    margin-bottom: 3rem;
    margin-right: 3%;
    margin-left: 3%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    float: none;
}

.heading {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    color: #2E3192;
    flex-grow: 0;
    margin: 0;
    justify-content: center;
}
    
.headSub {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 0.5rem;
}

.headerD {
    margin-bottom: ;
    border-bottom: 2px solid #cccccc;
    width: 93%;
    margin: 2rem 0;
}

.divs {
    width: 95%;
    display: flex;
    flex-direction: column;
}
    
.smheadings {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #2E3192;
    margin: 1rem 0;
    margin-bottom: 0;
}

.paragraphs {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    margin: 1rem 0;
    margin-bottom: 1.3rem;
}

span {
    color: #6567b0;
}

   a {
    text-decoration: none;
    color: #6567b0;
   }

ul {
    list-style-position: inside;
    margin: 1.2rem 0;
}

li {
    list-style-type: disc;
    padding-left: 2rem;
    margin-bottom: 0.7rem;
}


{/** Making Medium/Tablet screens responsive */}
@media only screen and (max-width: 1024px) {
   
    .heading {
        font-family: 'Outfit';
        font-size: 32px;
    }

    .headSub {
        font-size: 16px;
    }

    .smheadings {
        font-size: 20px;
    }

    .paragraphs {
        font-size: 20px;
    }
}


{/** Making Small/Mobile screens responsive */}

@media only screen and (max-width: 767px) {
    .heading {
        font-family: 'Outfit';
        font-size: 20px;
    }

    .headSub {
        font-size: 14px;
    }

    .smheadings {
        font-size: 16px;
    }

    .paragraphs {
        font-size: 14px;
    }
}

@media only screen and (max-width: 375px) {
    .heading {
        font-family: 'Outfit';
        font-size: 16px;
    }

    .headSub {
        font-size: 11px;
    }

    .smheadings {
        font-size: 12px;
    }

    .paragraphs {
        font-size: 11px;
    }
}

@media only screen and (max-width: 300px) {
    .heading {
        font-family: 'Outfit';
        font-size: 14px;
    }

    .headSub {
        font-size: 10px;
    }

    .smheadings {
        font-size: 11px;
    }

    .paragraphs {
        font-size: 10px;
    }
}

@media only screen and (max-width: 280px) {
    .heading {
        font-family: 'Outfit';
        font-size: 11px;
    }

    .headSub {
        font-size: 8px;
    }

    .smheadings {
        font-size: 9px;
    }

    .paragraphs {
        font-size: 8px;
    }
}

@media only screen and (max-width: 240px) {
    .heading {
        font-family: 'Outfit';
        font-size: 9px;
    }

    .headSub {
        font-size: 6px;
    }

    .smheadings {
        font-size: 7px;
    }

    .paragraphs {
        font-size: 6px;
    }
}

@media only screen and (max-width: 200px) {
    .heading {
        font-family: 'Outfit';
        font-size: 7px;
    }

    .headSub {
        font-size: 4px;
    }

    .smheadings {
        font-size: 5px;
    }

    .paragraphs {
        font-size: 4px;
    }
}

@media only screen and (max-width: 153px) {
    .heading {
        font-family: 'Outfit';
        font-size: 1rem;
    }

    .headSub {
        font-size: 0.5rem;
    }

    .smheadings {
        font-size: 0.6rem;
    }

    .paragraphs {
        font-size: 3px;
    }
}