.container {
    width: 97%;
    margin: 0;
    margin-bottom: 15%;
    display: block;
    justify-content: center;
    flex-direction: column;
    display: contents;
    justify-content: center;
}

.container2 {
    width: ;
    margin: 0;
}

.heading {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    color: #2E3192;
    flex-grow: 0;
    margin: 0;
    justify-content: center;
    }
    
    .headSub {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    margin: 0;
    }
    
    .informationH {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #2E3192;
    }

    .information {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    }

    .technologiesH {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #2E3192;
    }

    .technologies {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    }

    .lis {
        margin: 0;
    }

   .techAll {
    width: 93%;
   } 