.wrapper{ 
    display:flex; 
    align-items: center;
    flex-direction: column;
    padding:1.4rem;
    margin-bottom:.9rem;
}
.helpful_header{ 
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    color: #0D081B;
    margin-bottom:1rem;
}

.helpful_para{ 
    margin-bottom:.9rem;
    font-weight: 300;
    font-size: 21px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #0D081B;
}




