.principles-container {
    margin: auto;
    max-width: 27rem;
}

.principles-wrapper {
    background-color: #e9eef7;
    color: #2e3192;
    margin-top: 3.5rem;
    padding: 0 1.25rem 3.125rem;
}

.principles-heading {
    margin: 0 auto;
    padding: 2rem 0;
    text-align: center;
}

.principles-heading h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

.border-container {
    display: flex;
    justify-content: space-between;
}

.principles {
    margin: auto;
}

.principle {
    display: flex;
    align-items: center;
    margin-bottom: 1.8rem;
    padding: 0 2.5rem;
}

.principle-content {
    margin-left: 1.25rem;
}

.principle-content h2 {
    margin-bottom: 1rem;
}

.principle-content p {
    max-width: 13.1rem;
}

.principle-one {
    margin-top: -1.25rem;
}

.principle-final {
    margin-bottom: -1.25rem;
}

.principles-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .principles-container {
        margin: 0;
        max-width: max-content;
    }

    .principles-wrapper {
        padding: 0 2.625rem 3.125rem;
    }

    .principles-row {
        flex-direction: row;
        justify-content: space-between;
    }

    .principles-row-one {
        margin: -0.5rem 0 4rem;
    }

    .principles-row-two {
        margin-bottom: -0.5rem;
    }

    .principle-two {
        margin-right: 1.7rem;
    }

    .principle {
        align-items: flex-start;
    }

    .principle-tick > img {
        width: 2.5rem;
    }

    .principle-one,
    .principle-final {
        margin: 0;
    }

    .principle-content p {
        max-width: 19.75rem;
    }
}

@media screen and (min-width: 1024px) {
    .principles-container {
        margin: auto;
        max-width: 73rem;
    }

    .principles-row {
        justify-content: center;
    }

    .principles-wrapper h2 {
        font-size: 2rem;
    }

    .principle-content p {
        font-size: 1.5rem;
    }

    .principle-tick > img {
        width: 3.125rem;
    }

    .principle-one,
    .principle-three {
        margin-right: 8rem;
    }

    .principle-two {
        margin-right: 0.8rem;
    }
}
