.noprofile {
    background-color: #f3f3fb;
    padding-left: 5%;
    margin-left: 9rem;
    min-height: 100vh;
    width: 100vw;
}

.noprofile_body {
    margin-top: 242px;
    gap: 1rem;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-inline: auto;
}
.noprofile_body_text {
    color: #171b1d;
    font-size: 2rem;
    font-weight: 300;
}
.createjob_button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 15rem;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: #2e3192;
    border: 0;
    cursor: pointer;
}
.createjob_button img {
    width: 0.875rem;
    height: 0.875rem;
}
.createjob_button p {
    color: #fbfbff;
    font-size: 1rem;
    font-weight: 600;
}
.mobile_view p {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #52515b;
}
.create_box {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.btn_plus img {
    margin-top: auto;
    width: 1.6rem;
    height: 1.6rem;
}
.btn_plus_fixed img {
    width: 3.3rem;
    height: 3.3rem;
    position: fixed;
    bottom: 15%;
    right: 7%;
}
.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.loading_animation {
    margin-top: 50vh;
    margin-inline: auto;
    width: 40%;
    height: 5px;
    background-color: #bfbfbf;
    border-radius: 5px;
    animation: loading_animation 2s linear infinite;
}

/* Loading  animation */
@keyframes loading_animation {
    0% {
        background-color: #bfbfbf;
        background-position: 0% 0%;
    }

    50% {
        background-color: #2f80ed;
        background-position: 100% 0%;
    }
}
@media screen and (max-width: 360px) {
    .btn_plus_fixed img {
        bottom: 19%;
    }
}
@media only screen and (max-width: 480px) {
    .profile_page,
    .noprofile {
        padding-right: 5%;
        margin-left: 0;
    }
}
@media screen and (min-width: 720px) {
    #mobile_view {
        display: none;
    }
    #desktop_view {
        display: flex;
    }
}
@media screen and (max-width: 720px) {
    #mobile_view {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 65vh;
    }

    #desktop_view {
        display: none;
    }
}
@media screen and (max-width: 950px) {
    .noprofile_body_text {
        font-size: 1.25rem;
    }
}
