.mainCheckout {
  background-color: #e9eef7;
  min-height: 100vh;
}

.checkout {
  width: min(88%, 44.125rem);
  margin-inline: auto;
}

.goback {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 2rem;
}

.subheading {
  color: #171746;
  font-size: 3vmax;
  margin-bottom: 2rem;
}

.Inputwrapper {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.input__number,
.input__text {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 2px solid #52515b;
  font-family: inherit;
}

.input__number:focus:invalid,
.input__text:focus:invalid,
.validity:focus:invalid {
  border: 1px solid red;
  outline: none;
}

.input__number:focus:valid,
.input__text:focus:valid,
.validity:focus:valid {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}

.secure {
  display: flex;
  gap: 12vmax;
  margin-bottom: 3rem;
}

.secureDate {
  margin-bottom: 0.6rem;
}

.expirationlabel {
  margin-right: 0.5rem;
}

.warning {
  width: 0.8rem;
}

.validity {
  width: 4rem;
  border: 2px solid #52515b;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  /*padding: 1rem 2rem;*/
  padding-block: 1rem;
  text-align: center;
}

.expirationWrapper {
  display: flex;
  margin-top: 0.7rem;
}

.labelcvv {
  margin-bottom: 0.7rem;
}

.cvv {
  display: flex;
  flex-direction: column;
}

.label,
.expirationlabel {
  margin-bottom: 0.5rem;
}

.submit {
  width: 100%;
  padding: 1rem 2rem;
  background-color: #2e3192;
  color: white;
  border-radius: 0.5rem;
  border: none;
  margin-bottom: 2rem;
  font-family: inherit;
}

.submit:disabled {
  background-color: #b2ddff;
}

.checked {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.checklabel {
  font-size: 1rem;
  line-height: 1.1;
}

.inputEmpty {
  border: 1px solid red;
  /*box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px red;*/
}

.hint {
  color: red;
}

/*BreakPoints */
@media only screen and (min-width: 500px) {
  .validity {
    width: 6rem;
  }
}
