.input {
    padding: 19px;
    gap: 16px;
    width: 100%;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #BFD8F9;
    border-radius: 4px;
}
@media screen and (max-width: 860px) {
    .input {
        padding: 4.5%;
    }
}
::placeholder {
    color: #414244;
    font-size: 0.8rem;
}
.button_label {
    width: 100%;
    height: 3rem;
}
.inputbox_label {
    position: relative;
    width: 100%;
}
.eye {
    top: 15px;
    right: 1rem;
    position: absolute;
}
