.input{
    width: 100%;
    height: 100%;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    padding: 2%;
    box-sizing: border-box;
}
::placeholder{
    color: #414244;
    font-size: .8rem;
}
.button_label{
    width: 100%;
    height: 3rem;
}