.pay_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem 3rem;
    background-color: #f9f9ff;
}
.header_cred_wrapper {
    display: flex;
    align-items: center;
}
.cred_wrapper {
    margin-left: 1rem;
}
.header_credName {
    font-weight: 400;
    font-size: 28px;
    line-height: 150%;
    color: #222226;
}
.confirm_text {
    font-weight: 500;
    font-size: 28px;
    line-height: 120%;
    color: #171646;
    margin: 2rem 0;
}
.pay_input {
    background: #edf5fd;
    font-weight: 400;
    padding: 1rem;
    font-size: 16px;
    color: #171646;
    height: 56px;
    border: 2px solid #52515b;
    border-radius: 8px;
    width: 100%;
}
.pay_form_wrapper {
    width: 45%;
    margin: 2rem auto 6rem;
}
.inputDiv_wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.form_label {
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #222226;
}
.submit_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 8px;
    width: 100%;
    height: 62px;
    background: #2e3192;
    border-radius: 8px;
    color: white;
}
.paystack_footer {
    margin: 2rem auto;
    width: fit-content;
}
.form_wrapper_bg {
    background: #edf5fd;
    padding-bottom: 2rem;
    margin-bottom: 0;
}
@media only screen and (max-width: 600px) {
    .pay_form_wrapper {
        width: 90%;
    }
}
@media only screen and (max-width: 425px) {
    .pay_header {
        padding: 1rem 0.5rem;
    }
    .header_credName {
        font-size: 18px;
    }
    .afm {
        width: 80%;
    }
    .avatar {
        width: 70%;
    }
    .cred_wrapper {
        margin-left: 0rem;
        margin-bottom: -1rem;
    }
}
