*{
    font-family: 'Inter', sans-serif;
}
.applicantsContainer{
    padding: 1.5rem 2rem;
}
.viewContainer{
    display: flex;
}
.statisticsContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.statisticsContainer select{
font-size: 15px;
padding: 0.5rem;
color:#2E3192;
background:gainsboro;
border: 1px solid white;
font-weight: bold;
}
.applicants{
    display:flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}
.applicants div{
    border:1px solid gainsboro;
    border-radius: 5px;
    padding: 0.8rem;
    width:30%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.applicants h4{
    font-weight: 400;
    margin-bottom: 0;
}
.applicants h1{
    margin-bottom: 0;
}
.users_recruiter_text h1{
    color:#2E3192
}
.users_recruiter_text h4{
    color:grey
}
.profile_name{
    display: none;
    color: #2E3192;
}
@media only screen and (min-width: 768px)and (max-width: 1024px){
    .profile_name{
        display: block;
    }
    h3{
        font-size: 15px;
    }
    h1 {
        font-size: 20px;
    }
    h2{
        font-size: 20px;
    }
    .navpills_inner {
    width: 100%;
}
}
@media only screen and (min-width:320px) and (max-width:767px){
    .statisticsContainer h2{
        font-size: 15px;
    }
    .statisticsContainer select, .statisticsContainer select option{
        font-size: 10px;
    }
    .applicantsContainer {
        padding: 0 0.5rem; 
    }
    .overflow{
        overflow-x: scroll;
    }
    .applicants div{
        width: 100%;
        padding: 0.5rem;
        margin: 0.5rem;
    }
    .applicants{
        width: 400px;
    }
     .applicants h3, .applicants h1{
        text-align: center;
    }
    h3{
        font-size: 13px;
        font-weight: 400;
    }
    h1{
        font-size: 20px;
    }
    
}