.edit_passwordContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.edit_passwordContent input{
    width: 100%;
    padding: 0.8rem;
    border-radius: 7px;
    margin-bottom: 0.9rem;
    border: 1px solid grey; width: 100%;

}
.edit_passwordContent button{
    padding: 0.8rem;
    font-size: 15px;
    width: 47%;
    border-radius: 8px;
    font-weight: bold;
}
.editButtonDiv{
    display: flex;
    justify-content: space-between;
}