.content {
    width: 95%;
    margin: 0 auto;
}

.wrapper {
    position: relative;
    margin-top: 5.5rem;
    /* top: 12vh; */
}
@media screen and (max-width: 1050px) {
    .wrapper {
    margin-top:0rem;
    /* top: 12vh; */
}
}
@media screen and (max-width: 760px) {
    .content {
        width: 90%;
    }

    .wrapper {
        top: 0vh;
    }
}
