.content {
    width: 95%;
    margin: 0 auto;
}

.wrapper {
    position: relative;
    /* top: 12vh; */
}

@media screen and (max-width: 760px) {
    .content {
        width: 90%;
    }

    .wrapper {
        top: 0vh;
    }
}
