thead th{
    padding-top:1.5rem;
     padding-bottom: 1.5rem
 }
 .tableContainer{
     width:100%;
 }
 .tableContainer td,.tableContainer th{
     text-align: left;
 }
 .three_dot_icon{
    width:70%;
 }
 .name_table_data{
     display: flex;
     align-items: center;
 }
 .name_table_data h5{
    margin-left: 1rem;
 }
 .date button{
     font-size: 1.3rem;
     background: white;
     border: 1px solid grey;
     border-radius: 5px;
     margin-right: 1rem;
 }
 .viewContainer{
     display: flex;
     align-items: center;
 }
 .pagination{
    margin: 0 1rem 1rem;
    padding: 0.5rem 1rem;
    background-color: #eeefff;
    border-radius: 6px;
    font-weight: 400;
    width:fit-content;
 }
 .pagination,.pagiantion_control{
     display: flex;
     align-items: center;
 }
 .pagiantion_control{
     margin-left:0.5rem;
 }
 .containerClassName{
    margin:1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: space-evenly;
 }
 .activeClassName{
    background-color: #2E3192;
    color:white;
 }
 .pageClassName{
    padding: 0.2rem 0.6rem;
    border-radius: 3px;
 }
 .previousClassName a,.nextClassName a{
    font-weight:bold;
 }
 .pageLinkClassName,.previousClassName a,.nextClassName a{
    font-size: 17px;
    margin:0 0.1rem;
 }
 .viewContainer button{
     border-radius: 4px;
     font-size: 15px;
     width: 90%;
     background: #2E3192;
     padding: 0.7rem;
     border: 1px solid white;
     color: white;
     margin-right: 0.3rem;
 }
 .sort_header button{
     color: #2E3192;
     border: 1px solid grey;
     padding: 0.5rem 2rem;
     background: white;
     border-radius: 4px;
     border: 1px solid grey;
 }

.sort_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
}
.mobileList{
    display: none;
}
.sort_header button {
    padding: 0.5rem 1rem;
   font-weight: bold;
}
.sort_header h2{
    font-size:24px;
}
.view_mobile_Container button {
    border-radius: 4px;
     font-size: 13px;
     width: 90%;
     background: #2E3192;
     padding: 0.3rem 0.5rem;
     border: 1px solid white;
     color: white;
     margin-right: 0.3rem;
}
.view_mobile_Container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.view_mobile_Container img{
    width:100%;
}
.view_mobile_Container span{
    width: 5%;
}
thead select{
    padding: 0.2rem;
}
.img_rapper{
    width:10%;
}
.dropdown{
    position: relative;
}
.dropdown:hover .dropdownContent{
    display:flex;
    flex-direction: column;
    top:1rem;
    z-index: 1;
    background-color: white;
}
.dropdownContent{
    position: absolute;
    padding: 1rem;
    border-radius: 5px;
    display: none;
    left:-4rem;
}
@media only screen and (min-width:320px) and (max-width:767px){
    .dropdownContent{
        padding: 0.5rem;
        width:70px;
        left:-1rem;
    }
    .img_rapper{
        width:10%;
    }
   .tableContainer{
        display: none;
    }
    .mobileList{
        display: flex;
        flex-direction: column;
        
    }
    .mobileList .RRlist{
        display: flex;
        padding: 1rem;
        align-items: center;
        justify-content: space-between;
    }
    .mobileList select{
        padding: 0.2rem;
        font-size:10px ;
        border: 1px solid gainsboro;
    }
    .mobileList label{
        font-size: 13px;
    }
}
