.keywords {
    display: flex;
    gap: 0.5rem;
    margin-top: 1.1rem;
}
.each_keyword {
    display: flex;
    gap: 1rem;
    border: 1px solid #2e3192;
    border-radius: 3.25rem;
    padding: 1rem 2rem;
}
.each_keyword p {
    color: #2e3192;
    font-size: 1rem;
}
.each_keyword img {
    width: 1.5rem;
    height: 1.5rem;
}
.keywords_box {
    margin-top: 1rem;
}
.keywords_box div {
    margin-block: 0.5rem;
}
.settings p {
    margin-top: 1rem;
    font-weight: 300;
    font-size: 1.25rem;
    letter-spacing: 0.01em;
    color: #737373;
}
.settings h5 {
    font-weight: 400;
    font-size: 1rem;
    color: #6d6e71;
}
@media screen and (max-width: 480px) {
    .settings p {
        font-size: 1rem;
    }
    .settings h5 {
        font-size: 0.875rem;
    }
}
