.spinner_container {
    position: fixed;
    left: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 1000000;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:white
}
