* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: var(--font-family);
    
}
.faq {
    width: 100%;
    height: 1610px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.faqs__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

}
.faqs__hero h2 {
    color: var(--afm__primary);
    font-size: 48px;
    line-height: 60.48px;
    font-weight: 600;
    
}
.faqs__hero p {
    color: var(--afm__primary__text);
    font-weight: 300;
    font-size: 21px;
    line-height: 31.5px;
}
.faqs__section {
    width: 100%;
    padding: 40px 120px 120px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 28px;
}


/* for faqsbox styling */
.faqsbox {
    width: 590px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 0.5px solid #A5A5A5;
    border-radius: 8px;
    padding: 24px;
}
.faqsbox h3, 
.faqsbox p, 
.faqsbox h5,  
.faqsbox a {
    line-height: 150%;
    letter-spacing: 0.03em;
    font-size: 16px;
}
.faqsbox h3 {
    color: var(--afm__primary__text);
    font-size: 24px !important;
    font-weight: 500;
   
}
.faqsbox p {
    white-space: wrap;
    font-weight: 400;
}
.faqsbox h5 {
    font-weight: 300;
}
.faqsbox a {
    font-weight: 400;
    font-size: 14px !important;
    line-height: 125% !important;
    color: var(--afm__primary);
}


/* for the  linked pages */
.faqses {
    width: 100%;
    height: 1160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.faqspage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 40px 80px;
    gap: 40px;
}
.faqspage__hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.faqspage__hero a {
    color: #2E3192;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.5px;
}
.faqspage__hero h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 60.48px;
    color: var(--afm__primary);
}
.faqspage__hero p {
    font-size: 21px;
    font-weight: 300;
    line-height: 31.5px;   
    color: #52515B;
}
.faqspage__section {
    width: 100%;
   

}
.faqspage__context {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 18px;
}
.faqspage__context h4,
.faqspage__context p {
    line-height: 150%;
    color: #737373;
}
.faqspage__context h4 {
  font-size: 24px;  
  line-height: 150%;
  color: var(--afm__primary__text) !important;
}
.faqspage__context p {
    font-size: 18px;
}


@media (max-width: 850px) {
    .faqs__section {
        padding: 40px 40px 80px;
    }
    .faqsbox {
        width: 100%;
        
    }
    .faqspage {
        margin: 40px 80px;
    }
}
@media (max-width: 500px) {
    .faq {
        width: 100%;
    }
    .faqs__section {
        padding: 20px 20px 0;
    }
    .faqsbox {
        width: 100%;
        
    }
    .faqs__hero {
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .faqs__hero h2 {
        font-size: 24px;
    }
    .faqs__hero p {
        font-size: 16px;
        text-align: center;
    }
    .faqspage {
        padding: 80px 20px;
    }
    .faqspage__context h4 {
        font-size: 24px;
    }
}
