.main_btn {
    outline: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    gap: 8px;
    height: 54px;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 8px;
}

a:hover {
    text-decoration: none;
}

@media screen and (max-width: 345px) {
    .main_btn {
        font-size: 0.8rem;
        width: 80% !important;
    }
}
