.hsmain {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 40px 20px 80px 20px;
}

.greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.greeting h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #202065;
}

.greeting p {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #0D081B;
}

.card_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.contact_afm {
    display: none;
}

.contact_afm div {
    text-align: center;
}

.contact_afm h3 {
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    color: #0D081B;
}

.contact_afm p {
    font-weight: 300;
    font-size: 21px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #0D081B;
}

.expanded_card h1 {
    padding-bottom: 1.5em;
}

.expanded_card p {
    text-align: justify;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    padding: 24px;
    color: #0D081B;
    background: #FFFFFF;
    border: 0.5px solid #A5A5A5;
    border-radius: 8px;
}

.close_button {
    padding: 1em;
    font-weight: 700;
    align-self: flex-end;
    cursor: pointer;
}

@media screen and (min-width:768px) {
    .card_wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 985px;
    }

    /* .greeting {
        width: 630px;
    } */

    .greeting h1 {
        width: 600px;
        font-weight: 600;
        font-size: 48px;
        line-height: 60px;
    }

    .greeting p {
        /* width: 389px; */
        font-weight: 300;
        font-size: 21px;
        line-height: 150%;
    }

    .contact_afm {
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        padding-top: 16px;
    }

    .expanded_card p {
        max-width: 1199px;
        max-height: 352px;
    }
}