.review_top_email p {
    font-size: 1rem;
    color: #52515b;
}
.review_box p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #52515b;
}
.review_box_left div {
    margin-bottom: 1rem;
}
.review_buttons button {
    margin-bottom: 1rem;
    width: 300px;
}
.coverletter_body {
    margin-top: 1rem;
}
.review_textarea {
    width: 100%;
    /* height: 22rem;  */
    resize: none;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: 0.75rem;
    font-weight: 300;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #6d6e71;
    text-align: left;
}
.review_jobtitle {
    margin-top: 1rem;
}
.review_keywords {
    font-size: 1rem;
    font-weight: 300;
    color: #52515b;
    width: 100%;
    word-break: break-word;
    /* word-wrap: break-word; */
}
.not_filled {
    /* font-style: italic; */
    font-size: 1.2rem;
    font-weight: 300;
}
.loading_spinner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
}
/* Add the spinning circle*/
.loading_animation {
    margin-block: 1rem;
    width: 100%;
    height: 5px;
    background-color: #bfbfbf;
    border-radius: 5px;
    animation: loading_animation 2s linear infinite;
}
/* Define the animation */
@keyframes loading_animation {
    0% {
        background-color: #bfbfbf;
        background-position: 0% 0%;
    }
    50% {
        background-color: #2f80ed;
        background-position: 100% 0%;
    }
}
.clbody_text {
    overflow: auto;
    max-height: 12rem;
}
.coverletter_body h6 {
    font-size: 0.875rem;
    color: #737373;
}
.hr_one {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #cccccc;
}
@media screen and (max-width: 960px) {
    .review_box {
        margin-top: 1.5rem;
    }
    .review_buttons button {
        margin-bottom: 1rem;
        width: 100%;
    }
}
@media screen and (min-width: 960px) {
    .review_buttons {
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
    }
    .review_box_left {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
    }
    .review_top {
        display: flex;
        justify-content: space-between;
    }
    .review_top_email {
        margin-block: auto;
    }

    .review_box p {
        font-size: 1rem;
        font-weight: 300;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: #52515b;
    }
}
