.applications_top_nav {
    height: 101px;
    padding-right: 160px;
    padding-left: 1rem;
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    color: #2e3192;
    z-index: 40;
    background-color: #fefeff;
    border-bottom: 0.5px #cccccc solid;
}
.applications_page_title {
    display: flex;
    align-items: center;
}
.applications_page_title h2 {
    font-size: 30px;
}
.applications_page_title svg + h2 {
    margin-left: 1rem;
}
.applications_page_title svg {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.application_user_menu {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 1rem;
}
.application_user_menu svg {
    height: 20px;
    width: 20px;
}

.application_nav_avatar {
    width: 53px;
    height: 53px;
    background-color: rgb(213, 211, 211);
    border-radius: 50%;
}

@media (max-width: 520px) {
    .applications_top_nav {
        padding: 5px 12px;
        justify-content: flex-start;
    }

    .applications_page_title svg {
        display: block;
    }
}
