@media screen and (max-width: 960px) {
    .review_box {
        margin-top: 1.5rem;
    }
}
@media screen and (min-width: 960px) {
    .review_box {
        display: flex;
        gap: 3rem;
        margin-top: 1.5rem;
        margin-right: 10%;
    }
}
.review_box p {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #52515b;
}
.review_box_left div {
    margin-bottom: 1rem;
}
.review_buttons button {
    margin-bottom: 1rem;
}
.coverletter_body {
    margin-top: 1rem;
}
.review_textarea {
    width: 80%;
    /* height: 22rem; */
    resize: none;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: 0.75rem;
    font-weight: 300;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #6d6e71;
    text-align: left;
}
.review_jobtitle {
    margin-top: 1rem;
}
.review_keywords {
    display: flex;
    gap: 0.5rem;
}
.not_filled {
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 300;
}
.loading_spinner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

/* Add the spinning circle */
.loading_animation {
    width: 100%;
    height: 5px;
    background-color: #bfbfbf;
    border-radius: 5px;
    animation: loading_animation 2s linear infinite;
}

/* Define  animation */
@keyframes loading_animation {
    0% {
        background-color: #bfbfbf;
        background-position: 0% 0%;
    }

    50% {
        background-color: #2f80ed;
        background-position: 100% 0%;
    }
}
