.main_container {
    padding-top: 2rem;
    padding-bottom: 5rem;
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

.user_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.user_header p {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 150%;
    letter-spacing: 0.03rem;
    color: #52515b;
}

.month_year {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: #eeefff;
    border-radius: 4px;
    padding: 0.6rem;
    width: 220px;
    height: 43px;
}

.month_year p {
    font-weight: 400;
    font-size: 1rem;
    color: #2e3192;
}

.month_year svg {
    font-size: 1.5rem;
}

.applicant .table {
    width: 100%;
    margin-top: 5rem;
}

.table tr td,
.table tr th {
    text-align: center;
    border-bottom: 2px solid rgb(228, 227, 227);
    border-radius: 0;
}

.table tr th {
    padding-bottom: 15px;
}

.table tr td {
    padding: 2rem 0;
}

.pagination {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #eeefff;
    background: #eeefff;
    width: 158px;
    border-radius: 4px;
    padding: 0.7rem;
}

.pagination__inc_dec {
    display: flex;
    align-items: center;
    margin-top: 2px;
    gap: 1rem;
}

.mobile_button {
    display: none;
}

.hide_header_desktop {
    display: none;
}

/* Tablet */
@media screen and (max-width: 914px) {
    .desktop_button {
        display: none;
    }

    .mobile_button {
        display: block;
        color: #2e3192;
    }
}

/* Mobile Screen */
@media screen and (max-width: 700px) {
    .hide_on_mobile {
        display: none;
    }

    .table .hide_header_desktop {
        display: block;
    }

    .user_header p {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 370px) {
    .applicant .table tr td,
    .applicant .table tr th {
        font-size: 0.9rem;
    }
}
