.main_container {
    padding-top: 2rem;
    padding-bottom: 5rem;
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}
.nav_back{
    width:20%;
}
.user_details:hover{
    background-color: aliceblue;
    position:relative;
}
.user_details:hover .hover_item{
   display: block;
}
.hover_item_inner{
    display: flex;
    flex-direction: column;
    width:fit-content;
    padding:0rem 1rem;
    background-color: white;
    border-radius:5px;
    color:#2E3192;
}
.hover_item{
    right:10px;
    bottom:0;
    font-weight: bold;
    display:none;
    position: absolute;
   
}
.sort_header{
    border-bottom: 1px solid grey;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1.5rem 0;
}

.containerClassName{
    margin:1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: space-evenly;
 }
 
 .activeClassName{
    background-color: #2E3192;
    color:white;
 }
 .pageClassName{
    padding: 0.2rem 0.6rem;
    border-radius: 3px;
 }
 .previousClassName a,.nextClassName a{
    font-weight:bold;
 }
 .pageLinkClassName,.previousClassName a,.nextClassName a{
    font-size: 17px;
    margin:0 0.1rem;
 }
.user_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.user_header p {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 150%;
    letter-spacing: 0.03rem;
    color: #52515b;
}

.month_year {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: #eeefff;
    border-radius: 4px;
    padding: 0.6rem;
    width: 220px;
    height: 43px;
}

.month_year p {
    font-weight: 400;
    font-size: 1rem;
    color: #2e3192;
}

.month_year svg {
    font-size: 1.5rem;
}

.applicant .table {
    width: 100%;
}

.table tr td,
.table tr th {
    text-align: start;
    width:25%;
    border-bottom: 2px solid rgb(228, 227, 227);
    border-radius: 0;
}

.table tr th {
    padding: 2rem;
    font-size:16px;
}

.table tr td {
    padding: 2rem 0rem 2rem 2rem;
    overflow-wrap: break-word;
}

.pagination {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #eeefff;
    background: #eeefff;
    width: 158px;
    border-radius: 4px;
    padding: 0.7rem;
}

.pagination__inc_dec {
    display: flex;
    align-items: center;
    margin-top: 2px;
    gap: 1rem;
}

.mobile_button {
    display: none;
}

.hide_header_desktop {
    display: none;
}

/* Tablet */
@media screen and (max-width: 914px) {
    .desktop_button {
        display: none;
    }

    .mobile_button {
        display: block;
        color: #2e3192;
    }
    .applicant .table tr td,
    .applicant .table tr th {
        width:auto;
    }
}

/* Mobile Screen */
@media screen and (max-width: 700px) {
    .hide_on_mobile {
        display: none;
    }

    .table .hide_header_desktop {
        display: block;
    }

    .user_header p {
        font-size: 0.7rem;
    }
    .hover_item_inner{
        padding:0.5rem;
        font-size:12px;
    }
}

@media screen and (max-width: 370px) {
    .applicant .table tr td,
    .applicant .table tr th {
        font-size: 0.9rem;
        
    }
}
