.remotecheckbox {
    display: flex;
    gap: 1rem;
}
.remotecheckbox input {
    width: 1.5rem;
    height: 1.5rem;
}
.remotecheckbox label {
    font-weight: 400;
    font-size: 1rem;
    color: #737373;
}
.dropdownbox {
    display: block;
    margin-top: 0.6rem;
}

@media screen and (min-width: 610px) {
    .detailsdropdown_box {
        display: flex;
        gap: 1.5rem;
        margin-top: 2rem;
    }
}
@media screen and (max-width: 610px) {
    .detailsdropdown_box {
        gap: 1.5rem;
        margin-top: 2rem;
    }
}
.detailsdropdown_box p {
    font-weight: 400;
    font-size: 1rem;
    color: #999999;
}
.uploadcv_box {
    margin-top: 2rem;
    width: 90%;
    padding: 1.5rem;
    border: 1px solid #bfbfbf;
    border-radius: 3px;
}
.uploadcv_box p {
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.03em;
    color: #52515b;
    margin-bottom: 1rem;
}

.draghere {
    border: 1px dashed #bfbfbf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 2.2rem;
}
.draghere h6 {
    font-weight: 300;
    font-size: 0.875rem;
    color: #737373;
    margin-top: 0.8rem;
}
.draghere h5 {
    font-weight: 500;
    font-size: 14px;
    color: #092c4c;
    margin-top: 0.8rem;
}
.draghere img {
    width: 1.9rem;
    height: 2.3rem;
}
