.contact{
    width: 100vw;
    
}

.img-icon{
    margin-right: 10px;
}


.buttons{
    margin-top: 200px;
}
.icon{
    width: 15px;
    height: 15px;
}



   

/* form styling */

.form-group{
    display: flex;
    flex-direction: column;
    width: inherit;
}
.form-group input{
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    
}

.form-first-line{
    display: flex;
    flex-wrap: wrap;
    
    
}
.first-line-1 ,.first-line-2{
    flex: 1;


}

.first-line-2{
    margin-left: 20px;
}
.form-fifth-line{
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}

.privacy{
    margin-left: 5px;
}
.radio-group{
    display: flex;
}
input.radio{
    transform: scale(3);
    padding: 5px;
}
.form button{
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #2E3192;
    color: white;
    width: 100%;
    border: none;
}
label{
    font-weight: 600;
}
textarea{
    
    font-size: 1em;
    background-color: white;
    resize:none;
    
    width: 100%;
    border: none;
}
textarea:focus{
    outline: none;
  
}
.textarea{
    width: inherit;
   font-family: montserrat-medium;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
    height: 300px;
    margin-top: 5px;
}
.contact-mid{
    width: 100%;
}
@media screen and (max-width:768px) {
    .first-line-2{
        margin-left: 0;
    }
    .form-first-line{
        display: flex;
        flex-wrap: wrap;
        
        
    }
    .form-second-line,.form-third-line, .form-fourth-line, .form-fifth-line{
        flex: 1;
    }
    
}

@media screen and (max-width:481px) {

 .form-first-line{
    display: flex;
    flex-direction: column;
    
}
.first-line-2{
    margin-left: 0;
}
}

/* left detaiils styling */
.leftdetail a{
    text-decoration: none;
    color: black;
    
    display: flex;
    align-items: center;
   
    
}
.leftdetail .img-wrapper{
    display: flex;
    
}
.leftdetail{
    display: flex;
    flex-direction: column;
    width: 100%;
}
@media screen and (max-width:768px) {
    .leftdetail .img-first{
        width: 200px;
        
    }
    
}



h3{
    margin: 0;
}


@media screen and (max-width:481px) {

    
}
/* contact page general styling */

.contact .contact-mid{
    
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    width: auto;
}
.contact-mid .form{
    flex: 1;
}
.contact-mid .form-details{
    flex: 1;
    margin-left: 100px;
}
 .contact-mid{
    padding-left: 100px;
    padding-right: 100px;
}
@media screen and (max-width:768px) {
    .contact-nav-wrapper, .contact-mid{
        padding-left: 20px;
        padding-right: 20px;
    }
    .contact-mid .form{
        width: 200px;
    }
    .contact-mid .form-details{
        margin-left: 20px;
    } 
    
}
@media screen and (max-width:560px) {
    .contact-mid .form-details{
        display: none;
    }
    .contact-mid .form{
        width: 100%;
    }

    
}
@media screen and (max-width:481px) {
    .contact-mid .form-details{
        display: none;
    }
    .contact-mid .form{
        width: 100%;
    }
    
}

.copyright{
    display: flex;
    
    padding: 10px 100px;
    background-color: #141662;
    color: white;
    justify-content: space-between;
}
.copyright p{
    margin-right: 10px;
}

@media screen and (max-width:768px) {
    .copyright{
        padding: 10px 20px;
        font-size: .7em;
    }
    
}
@media screen and (max-width:481px) {
    .copyright{
        padding: 5px 10px;
        font-size: .5em;
    }
    
}
.contact{
    width: 100vw;
    
}

.top-tier img{
    margin-bottom: 40px;
}


.details p{
    margin-top: 20px;
    margin-bottom: 20px;
}
h1{
    font-size: 1.5em;
    color: #141662;
}

@media screen and (max-width:1078px) and (min-width:790px) {
  .form-details{
    margin-left: 0;
  }
  .contact-mid{
    padding-left: 50px;
    padding-right: 50px;
  }
  .first-line-2{
    margin-left: 0;
  }
}
@media screen and (max-width: 1378px){
    .first-line-2{
        margin-left:0;
    }
}
@media screen and (max-width:550px) and (min-width:480px) {
    .first-line-2{
        margin-left: 10px;
    }
}
@media screen and (max-width:900px) and (min-width:750px) {
    .form{
        margin-right: 0;
    }
    .contact-mid{
        padding: 40px;
    }
}