.menu_wrapper {
    position: absolute;
    top: 104.82px;
    left: 0;
    z-index: 1;
    padding: 20px;
    width: 100%;
    height: calc(100vh - 104.82px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.menu a {
    text-decoration: none;
    color: #52515B;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.03em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #52515B;
}

.menu_wrapper button {
    padding: 12px 36px;
    border-radius: 8px;
    margin-right: 1em;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.signs {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.sign_in {
    background: rgba(196, 213, 238, 0.2);
    color: #2E3192;
}

.sign_up {
    background-color: #2E3192;
    color: #FBFBFF;
}