.nav_container {
    width: 100%;
    padding-top: 1.7rem;
    padding-bottom: 2rem;
}

.hide__desktop {
    display: none;
}

.nav_container__wrapper {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    gap: 2rem;
    justify-content: space-between;
}

.logo {
    width: 95px;
    height: 45px;
    z-index: 3;
}

.logo__img {
    width: 100%;
    height: 100%;
}

.nav_links {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.nav_links li {
    list-style-type: none;
}

.nav_links li:hover {
    cursor: pointer;
}

.nav_links li a {
    text-decoration: none;
    color: #52515b;
}

.btn_container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu {
    display: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    color: #000;
}

@media screen and (max-width: 1050px) {
    .nav_container {
        position: relative;
    }

    .hide__desktop {
        display: block;
    }

    .nav_links,
    .btn_container,
    .hide_mobile {
        display: none;
    }

    .menu__mobile {
        color: #000;
    }

    /* Nav path Mobile */

    .nav_container {
        padding-top: 0;
        margin-bottom: 4rem;
    }

    .nav_container__wrapper__mobile {
        position: fixed;
        left: 0;
        right: 0;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
        padding: 1rem 0;
    }

    .nav_container__wrapper__mobile .logo__mobile {
        width: 90%;
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav_links__mobile {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 90%;
        max-width: 1400px;
        margin: 0 auto;
        position: relative;
    }

    .nav_links__mobile li {
        border-bottom: 2px solid #d0d0d0;
        padding-bottom: 0.7rem;
    }

    .nav_links__mobile li a {
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 150%;
        letter-spacing: 0.03em;
        color: #52515b;
    }

    .btn_container__mobile {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        display: flex;
        align-items: center;
    }

    .btn_container__mobile button {
        max-width: 500px !important;
        width: 100% !important;
    }
}
