.nav_container {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #FBFBFB;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0px;
    background: #FBFBFB;
    box-shadow: 0px 4px 6px -2px rgba(46, 49, 146, 0.06), 0px 2px 4px -2px rgba(231, 215, 215, 0.06);
}

.sign_in{
    color:#2e3192;
    font-weight: 700;
}
.hide__desktop {
    display: none;
}
.nav_links__mobile li a {
    width:100%;
}
.nav_container__wrapper {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
}

.logo {
    width: 95px;
    height: 45px;
    z-index: 3;
}

.logo__img {
    width: 100%;
    height: 100%;
}

.nav_links {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.nav_links li {
    list-style-type: none;
}

.nav_links li:hover {
    cursor: pointer;
}

.nav_links li a {
    text-decoration: none;
    color: #52515b;
}

.active_link {
    border-bottom: 2px solid #2e3192;
}

.btn_container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.auth__user_btn {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu {
    display: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    color: #000;
}

.nav_container__wrapper__mobile {
    display: none;
}

@media screen and (max-width: 1050px) {
    .nav_container {
        position: relative;
        
    }

    .hide__desktop {
        display: block;
    }

    .nav_links,
    .btn_container,
    .hide_mobile {
        display: none;
    }

    .menu__mobile {
        color: #000;
    }

    .auth__user_btn {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    /* Nav path Mobile */

    .nav_container {
        padding-top: 0;
        box-shadow: none;
        height: 80px;
    }

    .nav_container__wrapper__mobile {
        margin-top: -1px;
        top:0;
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        background-color: #FBFBFB;
        padding: 1rem 0;
        box-shadow: 0px 4px 6px -2px rgb(46 49 146 / 6%), 0px 2px 4px -2px rgb(231 215 215 / 6%);
        z-index: 100;
    }

    .nav_container__wrapper__mobile .logo__mobile {
        width: 90%;
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav_links__mobile {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 90%;
        max-width: 1400px;
        margin: 1.5rem auto;
        position: relative;
    }

    .nav_links__mobile li {
        border-bottom: 2px solid #d0d0d0;
        padding-bottom: 0.7rem;
    }

    .nav_links__mobile li a {
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 150%;
        letter-spacing: 0.03em;
        color: #52515b;
    }

    .btn_container__mobile {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        display: flex;
        align-items: center;
        padding: 0 0.8rem;
    }
}
