.NewPass{
    padding: 2rem 6%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
.nbdy{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.nbdy .form{
    padding: 5rem 0 7rem 0;
}