.NewPass {
    padding: 2rem 6%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
.nbdy {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.nbdy .form {
    padding: 5rem 0 7rem 0;
}

.NewPass .input {
    width: 100%;
    height: 100%;
    border: 1px solid #bdbdbd;
    border-radius: 8px;
    padding: 2%;
    box-sizing: border-box;
    background-color: #e8f0fe;
}

.newpass_form button {
    margin: 0 auto;
    margin-top: 3.5rem;
}
