.Verification {
    padding: 2rem 6%;
    width: 100%;
    box-sizing: border-box;
}
.vrfy {
    width: 60px;
    height: 3.5rem;
    border: 0.2px solid #2e3192;
    border-radius: 8px;
    outline: none;
    font-size: 3rem;
    padding-left: 5px;
}
.vbdy {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    justify-content: center;
    margin: 3rem auto;
    border-radius: 8px;
    padding:0 3rem;
}
.verify {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    flex-direction: row;
    width: fit-content;
    margin: 0 auto;
    justify-content:center;
}
.form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.resend {
    font-size: 1rem;
    font-weight: 400;
    color: #111416;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0 1rem 0;
    cursor: pointer;
}

.pass_input_container {
    padding: 1rem 0 6rem 0;
}
.Verification .pass_input_container .password_input {
    width: 100%;
    height: 100%;
    border: 1px solid #bdbdbd;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    background-color: #e8f0fe;
}
@media only screen and (max-width: 873px) {
    .vrfy {
        height: 4rem;
    }
}
@media only screen and (max-width: 768px) {
    .vbdy {
        padding-top: 2rem;
        width: 70%;
    }
}
@media only screen and (max-width: 668px) {
    .vbdy {
        width: 100%;
        padding:2rem;
    }
}

@media only screen and (max-width: 468px) {
    .vbdy {
        padding:1rem;
    }
}

@media only screen and (max-width: 376px) {
    .vbdy {
        padding-top: 1.5rem;
    }
}

@media only screen and (max-width: 468px) {
    .resend {
        padding: 1rem 0 3rem 0;
    }
}
