.Welcome1 {
    padding: 2rem 6%;
    width: 100%;
    box-sizing: border-box;
}
.w1bdy {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    justify-content: center;
    margin: 2rem auto;
    background: #E9EBF8;
    border-radius: 8px;
    padding:3rem;
}
.form-text{
    font-weight: 500;
    font-size: 32px;
    color: #2E3192;
    line-height: 116%;
    text-align: center;
}
.form {
    width: 100%;
    padding: 2rem 0 0 0;
    box-sizing: border-box;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.form .lg {
    width: 200px !important;
    margin: 0 auto;
}

.special {
    font-weight: 700;
    color: #2e3192;
}
.chktxt {
    font-size: 0.8rem;
}
a {
    text-decoration: none;
}
.ques {
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 0.7rem 0 1.4rem 0;
}
.dvdr {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 60%;
    align-items: center;
}
.socials {
    height: 3.5rem;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1% 0 0 0;
}
.social {
    height: 100%;
    width: 15%;
    padding: 3%;
    box-sizing: border-box;
    border: 0.2px solid #52515b37;
}
.or {
    text-transform: uppercase;
    width: 15%;
    font-size: 0.8rem;
}
.line {
    height: 1px;
    width: 42%;
    background-color: #111416;
}
.checkl {
    height: 2.3rem;
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
    gap: 0.3rem;
}
.passowrd-label {
    position: relative;
    width:100%;
}
.passowrd-label-input {
    padding: 19px;
    gap: 16px;
    width: 100%;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #BFD8F9;
    border-radius: 4px;
}
.passowrd-toggler {
    position: absolute;
    top: 16px;
    right: 20px;
}
.create-text{
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #52515B;
}
@media screen and (max-width: 860px) {
    .passowrd-label-input {
        padding: 4.5%;
    }
}
@media only screen and (min-width: 616px) and (max-width: 856px){
    .passowrd-toggler {
        position: absolute;
        top: 24px;
        right: 20px;
    }
}
@media only screen and (max-width: 768px) {
    .w1bdy {
        padding-top: 2rem;
        width: 70%;
    }
}
@media only screen and (max-width: 668px) {
    .w1bdy {
        width: 100%;
        padding:2rem;
    }
}

@media only screen and (max-width: 468px) {
    .w1bdy {
        padding:1rem;
    }
}

@media only screen and (max-width: 376px) {
    .w1bdy {
        padding-top: 1.5rem;
    }
}
