.Welcome1 {
    padding: 2rem 6%;
    width: 100%;
    box-sizing: border-box;
}
.w1bdy {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.form {
    width: 60%;
    padding: 2rem 0 0 0;
    box-sizing: border-box;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.form .lg {
    width: 200px !important;
    margin: 1rem auto;
}

.special {
    font-weight: 700;
    color: #2e3192;
}
.chktxt {
    font-size: 0.8rem;
}
a {
    text-decoration: none;
}
.ques {
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.7rem 0 1.4rem 0;
}
.dvdr {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 60%;
    align-items: center;
}
.socials {
    height: 3.5rem;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1% 0 0 0;
}
.social {
    height: 100%;
    width: 15%;
    padding: 3%;
    box-sizing: border-box;
    border: 0.2px solid #52515b37;
}
.or {
    text-transform: uppercase;
    width: 15%;
    font-size: 0.8rem;
}
.line {
    height: 1px;
    width: 42%;
    background-color: #111416;
}
.checkl {
    height: 2.3rem;
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
    gap: 0.3rem;
}

@media only screen and (max-width: 1073px) {
    .form {
        width: 70%;
    }
}
@media only screen and (max-width: 768px) {
    .w1bdy {
        padding-top: 2rem;
    }
}
@media only screen and (max-width: 668px) {
    .form {
        width: 80%;
    }
}

@media only screen and (max-width: 468px) {
    .form {
        width: 90%;
    }
    .checkl {
        align-items: flex-start;
    }
}

@media only screen and (max-width: 376px) {
    .w1bdy {
        padding-top: 1.5rem;
    }
    .form {
        width: 100%;
    }
}
