.Welcome2 {
    padding: 2rem 6%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
.w2bdy {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.forgot {
    font-size: 0.8rem;
    font-weight: 400;
    color: #111416;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4rem;
}
