.application_form {
    color: #52515b;
    padding: 0 20px 50px;
    font-size: 16px;
}
.FormHeader{
    font-size: 20px;
    margin-bottom: 1rem;
    margin-top: 4rem;
}
.buttonContainer{
    display: flex;
    align-items: flex-end;
    padding-bottom: 0.5rem;
}
.editContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(49, 49, 49, 0.8);
    z-index: 1;
}
.progress {
    color: white;
    background: rgba(49, 49, 49, 0.8);
    margin: 0 auto;
    font-size: 25px;
    padding: 2rem;
    margin: 20% auto;
    width: fit-content;
}

.go_back_link {
    margin: 20px 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.go_back_link img {
    margin-right: 16px;
}

.view_applicants {
    color: inherit;
    font-size: 20px;
    font-weight: 400;
}

.form {
    display:grid;
    grid-template-columns: 1fr 1fr;
    max-width: 500px;
    gap: 24px;
}

.form p {
    color: #222226;
    font-size: 1rem;
    font-weight: 300;
}

.form label span {
    color: #222226;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

.form input {
    color: #414244;
    font-weight: 300;
    font-size: 16px;
    padding: 16px 24px;
    border: 1px solid #bdbdbd;
    border-radius: 8px;
    width: 100%;
}

.form input[type="submit"] {
    background: rgba(46, 49, 146, 1);
    color: rgba(251, 251, 255, 1);
    border-radius: 8px;
    padding: 16px 32px;
    width: 240px;
}

.form input[type="submit"]:hover {
    opacity: 0.9;
}

.form input::placeholder {
    font-size: 16px;
}

@media only screen and (min-width: 768px) {
    .application_form {
        padding: 0 40px 50px;
    }

    .go_back_link {
        margin-top: 40px;
    }

    .view_applicants {
        font-size: 24px;
        font-weight: 700;
    }

    .form {
        max-width: clamp(675px, 80vw, 1000px);
    }

    .form p {
        font-size: 24px;
        font-weight: 400;
        margin: 26px 0 24px;
    }

    .form label span {
        font-weight: 700;
    }

    .form input {
        font-weight: 400;
    }

    .form input::placeholder,
    .form input,
    .form label span {
        font-size: 18px;
    }
}

@media only screen and (max-width:767px){
    .form {
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 1200px) {
    .application_form {
        padding: 0 40px 50px;
    }
}
