.form
{
    display: flex;
    flex-flow: column nowrap;
    max-width: 1000px;
    padding: 16px 24px;
    margin: 0 auto;
    gap: 24px;
    color: #52515B;
}

.form *
{
    font-family: 'Outfit', 'sans-serif';
}

.form p
{
    font-size: 24px;
}

.form label span
{
    font-weight: 700;
    padding: 16px 0;
}

.form input
{
    width: 100%;
    padding: 16px 24px;
    border: 1px solid rgba(230, 230, 233, 1);
}

.form input[type="submit"]
{
    width: 240px;
    background: rgba(46, 49, 146, 1);
    color: rgba(251, 251, 255, 1);
    border-radius: 8px;
}

.form input[type="submit"]:hover
{
    background: rgba(32, 32, 101, 1);
}

@media only screen and (max-width: 480px)
{
    .form
    {
        width: 100%;
    }

    .form p
    {
        font-size: 16px;
    }
}