.notification_icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #2E3192;
    border-bottom: 1px solid grey;
    align-items: center;
     padding: 1rem 3rem;
 }
.notification_count{
     position: absolute;
     background-color: red;
     width: fit-content;
     border-radius: 50%;
     padding: 0.2rem 0.4rem;
     top: 6px;
     right: 6rem;
     color: white;
}
.notification_icon_img{
    width:27%;
    margin-left:1rem;
}
.notification_icon_amf{
    width:80%;
}
.not_burger{
    display: none;
}
.head_barge{
    display:flex;
    width:35%;
    justify-content: space-around;
    align-items: center;
}
.profile_mobile_nav{
    position:fixed;
    top:0px;
    left:0px;
    width: 100vw;
    right: 0px;
    padding:2rem;
    bottom: 0px;
    z-index: 1;
    background-color: white;
    height: 100vh;
}
.menu-Header{
    display: flex;
    justify-content: space-between;
}
.section_menu_sect{
    display: flex;
    flex-direction: column;
    line-height: 50px;
    margin: 2rem 0 4rem;
}
.third_menu_sect{
    display: flex;
    flex-direction: column;
    line-height: 50px;
    padding: 2rem 0 1rem;
    border-top: 1px solid gainsboro;
}
@media only screen and (min-width: 320px)and (max-width: 518px){
    .notification_icon{
         padding: 2rem 0 1rem;
     }
    
}
@media only screen and (min-width: 320px)and (max-width: 767px){
    .not_burger{
        display: block;
    }
    .head_barge{
        margin-left: 0.8rem;
    }
    
}