.notification_icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #2E3192;
    border-bottom: 1px solid grey;
    align-items: center;
     padding: 1rem 3rem;
 }
.notification_count{
     position: absolute;
     background-color: red;
     width: fit-content;
     border-radius: 50%;
     padding: 0.2rem 0.4rem;
     top: 6px;
     right: 6rem;
     color: white;
}
.notification_icon img{
    width:30%;
    margin-left:1rem;
}
@media only screen and (min-width: 320px)and (max-width: 518px){
    .notification_icon{
        display:none;
    }
}