.applications_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

.application_main {
    padding-top: 101px;
    flex: 1 1 auto;
    padding-bottom: 20px;
}

.applications_table_header {
    display: flex;
    background-color: #fefeff;
    width: 100%;
    position: fixed;
    padding-right: 170px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 5;
    padding-left: 80px;
    align-items: center;
    border-bottom: 0.5px #cccccc solid;
}
.applications_table_wrapper {
    position: relative;
}
.applications_table_container {
    margin-bottom: 2rem;
    min-height: 300px;
    padding-top: 5rem;
    padding-left: 80px;
    padding-right: 2.5rem;
}

table {
    border-collapse: separate;
    border-spacing: 0 15px;
    width: 100%;
}

tr {
    padding-left: 30px;
}
thead,
tbody {
    padding: 0px 80px;
}
th,
td {
    padding-left: 0.5rem;
    text-align: start;
}
th {
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
}
tbody tr {
    color: #140f31;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

tbody tr:hover {
    color: #2e3192;
}
td:first-child,
th:first-child {
    border-radius: 8px 0 0 8px;
}
td:last-child,
th:last-child {
    border-radius: 0 8px 8px 0;
}

.applications_table_head_row {
    border-bottom: 0.5px #cccccc solid;
    height: 62px;
    color: #52515b;
    font-weight: 500;
    text-align: start;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
}
.applications_table_body_row {
    border-bottom: 0.5px #ededed solid;
    height: 56px;
    text-align: start;
    font-weight: 400;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    letter-spacing: 0.01em;
}

.applications_table_body_row:hover {
    background-color: #e9eef7;
    color: #2e3192;
}

.applications_footer {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    padding-left: 80px;
    padding-right: 2.5rem;
}
.applications_footer svg {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}
.applications_footer svg:first-child {
    color: #bfbfbf;
    cursor: unset;
}

/* Applications Card */
.applications_list_wrapper {
    display: none;
}
.applications_list_card {
    background: #f7f7f7;
    overflow-y: scroll;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 40px;
    padding-top: 5rem;
}

.applications_card {
    margin-top: 1.5rem;
    background: #fefeff;
    flex-wrap: wrap;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    color: #2e3192;
}
.applications_card > * {
    flex-basis: 100%;
    margin-bottom: 0.8rem;
}
.applications_card_title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: "Outfit";
    font-style: normal;
    line-height: 150%;
    color: #52515b;
}
.applications_card_title span:first-child {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.01em;
}
.applications_card_title span:nth-child(2) {
    font-weight: 300;
    font-size: 14px;
    text-align: right;
    letter-spacing: 0.03em;
}
.applications_card_lo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #737373;
}

.applications_card_tag_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.applications_card_tag_wrapper > div {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}
.applications_card_tag_wrapper > span {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #2e3192;
}

.applications_card_tag {
    height: 23px;
    font-weight: 400;
    display: flex;
    padding: 0 0.2rem;
    align-items: center;
    font-size: 12px;
    line-height: 15px;
    color: #8388c9;
    background-color: #e9eef7;
    border: 1px solid #c4d5ee;
    border-radius: 8px;
}
/* Dropdown Button */
.dropbtn {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #52515b;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    color: #2e3192;
    outline: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown_container {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.dropdown_container > svg {
    display: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown svg {
    height: 20px;
    width: 20px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown_content {
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;
    display: none;
    position: absolute;
    right: 2px;
    background: #ffffff;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown_content a:hover {
    background-color: #ddd;
}

.dropdown_item {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    cursor: pointer;
    width: 100%;
    height: 40px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    align-items: center;
}
.dropdown_item:hover {
    background: #e9eef7;
    border-radius: 8px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 500; /* Sit on top */
    left: 0;
    top: 50%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal_content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal_title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.modal_title > span {
    color: #d44e4e;
}

.modal_title h5 {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #140f31;
}

.modal_inputs {
    margin-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

.modal_inputs > div {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.modal_inputs > div > input[type="radio"] {
    height: 24px;
    width: 24px;
}

.modal_inputs > button {
    padding: 16px 32px;
    width: 100%;
    background: #2e3192;
    border-radius: 8px;
    color: #fbfbff;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    outline: none;
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: flex;
}

@media (max-width: 480px) {
    .applications_table_wrapper {
        display: none;
    }
    .applications_list_wrapper {
        display: block;
    }

    .dropdown_container > svg {
        display: block;
    }
    .dropbtn {
        display: none;
    }
    .applications_table_header {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        display: flex;
        align-items: center;
    }

    .applications_table_header svg {
        height: 25px;
        width: 25px;
    }

    /* … */
}

.show_tablet {
    display: none;
    color: #7c7ba8;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
.show_modal {
    display: block;
}
@media (min-width: 481px) and (max-width: 980px) {
    .applications_table_header {
        padding-left: 0.5rem;
    }
    .applications_table_container {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .hide_tablet {
        display: none;
    }
    .show_tablet {
        display: block;
        color: #7c7ba8;
    }
    .applications_footer {
        padding-left: 0.5rem;
    }
}
