body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#notifications {
  font-family: 'Outfit', sans-serif;
  padding: 30px 10px;
}

.App {
  display: flex;
}

@media (min-width:1024px) {
  #notifications {
    padding-top: 2em;
    padding-right: 3em;
    padding-left: 11em;
  }
}
