.container {
    background-color: #ffffff;
    border: none;
    color: rgba(82, 81, 91, 1);
    margin: 0 72px;
}
.cover{
    line-height: 40px;
    text-align: justify;
}
.job_RR_form{   
    text-decoration:none;
    background:rgba(46, 49, 146, 1);
    color: white;
    padding: 1rem;
    border-radius: 5px;
    margin-top:2rem;
}
.job_RR_form:hover{
    color:white
}
.container>* {
    padding: 40px 0;
}

.header {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 30px 0;
    border-bottom: 1px solid #e6e6e9;
}

.container .go_back_link {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    display: flex;
    align-items: center;
}

.go_back_link img {
    margin-right: 1rem;
}

.view_applicants {
    color: inherit;
    font-size: 24px;
    font-weight: 700;
}

.header>span.circle {
    align-items: center;
    border-radius: 50%;
    background-color: #52515b;
    color: white;
    display: flex;
    font-size: 33px;
    font-weight: 700;
    justify-content: center;
    height: 100px;
    width: 100px;
}

.details {
    color: inherit;
    font-size: 16px;
    font-weight: 400;
}

.details_name {
    font-weight: 700;
}

.header div {
    display: flex;
    flex-flow: column nowrap;
}

.job_information h2 {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 600;
}

.job_information>div {
    display: flex;
    flex-flow: row wrap;
    gap: 35px;
}

.info_field {
    min-width: calc(100% / 5);
}

.info_field h4 {
    padding: 8px 0;
    font-size: 1rem;
    font-weight: 500;
}

.info_field p {
    align-items: center;
    display: flex;
    gap: 8px;
    font-weight: 400;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media only screen and (max-width: 1024px) {
    .container {
        margin: 0 24px;
    }

    .container>* {
        padding: 21px 0;
    }

    .header>span {
        padding: 26px 30px;
    }

    .job_information>div {
        gap: 27px;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        margin: 0 16px;
    }

    .container>* {
        padding: 16px 0;
    }

    .header>span.circle {
        height: 78px;
        width: 78px;
        font-size: 30px;
        font-weight: 400;
    }

    .view_applicants {
        font-size: 20px;
        font-weight: 400;
    }

    .info_field {
        min-width: 35%;
    }

    .job_information>div {
        justify-content: space-between;
    }

    .job_information h2 {
        font-size: 20px;
    }

    .info_field p,
    .details {
        font-size: 14px;
    }

    .details_name {
        font-size: 16px;
    }
}