a {
    outline: none;
    text-decoration: none;
}
.layout_container {
    display: flex;
    height: 100vh;
    overflow-y: auto;
}

.layout_sidebar {
    width: 135px;
    height: 100vh;
    overflow-y: hidden;
    padding-top: 2rem;
    position: relative;
    background-color: #2e3192;
}
.layout_navigation {
    display: flex;
    flex-direction: column;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.layout_main {
    width: calc(100vw - 135px);
    overflow-y: auto;
}
.brand_logo {
    display: flex;
    justify-content: center;
}
nav > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    height: 64px;
}

nav > a:hover {
    text-decoration: none;
}
nav > a:hover p {
    color: #f7f7f8;
}
nav > a p {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    color: #9c9dc5;
}
nav svg {
    height: 30px;
    width: 30px;
    color: #ffffff;
}

.__active {
    color: #f7f7f8;
    content: "";
}

.bottom_nav {
    display: none;
    height: 67px;
    width: 100vw;
    position: fixed;
    bottom: 0;
}
.layout_bottom_navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    background-color: #ffffff;
    color: #0d081b;
    font-weight: 400;
    font-size: 12px;
    line-height: 125%;
}
.layout_bottom_navigation img {
    fill: #2e3192;
    color: #2e3192;
    background-color: #2e3192;
}

@media (max-width: 480px) {
    nav svg {
        color: #9c9dc5;
    }
    .layout_sidebar {
        display: none;
    }
    .layout_main {
        width: 100vh;
    }

    .bottom_nav {
        display: block;
    }

    /* … */
}
