.navpills_inner{
    margin: 0 auto;
    width:20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navpills{
    padding-top: 5rem;
    background-color: gainsboro;
}
.navpills img{
    width: 100%;
}
.navpills div{
    width: 35%;
}
@media only screen and (min-width:320px) and (max-width:767px){
    .navpills {
        padding-top: 1rem;
        background-color: white;
    }
    .navpills div{
        width:100%;
    }
    .navpills img {
        width: 70%;
    }
}
@media only screen and (min-width:519px) and (max-width:767px){
    .navpills img {
        width: 50%;
    }
}