.dashboard {
    display: grid;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

@media screen and (max-width: 768px) {
    .dashboard {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 480px) {
    .dashboard {
        display: flex;
        flex-direction: column-reverse;
        height: calc(100vh - 90.8px);
    }
}