.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #d8d2d2;
    border-radius: 0px;
    padding: 20px 81px 15px;
    position: sticky;
    top: 0;
    background: white;
    z-index: 1000;
}

.header h1 {
    margin: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 15px;
    color: #2E3192;
}

.header p {
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    color: #5E5D73;
}

.header-profile {
    display: flex;
    align-items: center;
}

.header-profile img:first-child {
    margin-right: 30px;
}

@media screen and (max-width: 1023px) {
    .header {
        padding: 20px 45px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 10px 30px !important;
    }
    .header h1 {
        font-size: 25px;
        line-height: 30px;
    }
    .header p {
        font-size: 14px;
        line-height: 25px;
        margin: 0;
    }
    .header-profile {
        display: flex;
        align-items: center;
    }
    .header-profile img:first-child {
        margin-right: 20px;
        width: 15px;
    }
    .header-profile img:last-child {
        width: 45px;
    }
}

@media screen and (max-width: 480px) {
    .header {
        padding: 15px 20px !important;
        border-bottom: 0.5px solid #f1ecec;
    }
    .header h1 {
        font-size: 18px;
        line-height: 15px;
        margin-right: 20px;
    }
    .header p {
        font-size: 13px;
        line-height: 25px;
        margin: 0;
    }
    .header-profile {
        display: flex;
        align-items: center;
    }
    .header-profile img:first-child {
        display: none;
    }
    .header-profile img:last-child {
        width: 45px;
    }
}