.overview {
    padding: 0px 81px 10px;
}

.overview p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8F90A7;
}

.over {
    margin-top: 60px;
}

.overview-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 100px;
}

.overview-grid div {
    background: #F5F6FE;
    opacity: 0.64;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    gap: 12px;
}

.overview-grid div h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 38px;
    color: #171646;
    margin: 0;
}

.overview-grid div p {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #7C7BA8;
}

@media screen and (max-width: 1023px) {
    .overview-grid {
        grid-gap: 20px;
    }
    .overview-grid div p {
        font-size: 13px;
    }
    .overview {
        padding: 0px 45px 10px;
    }
    .overview-grid div {
        padding: 20px 20px;
    }
}

@media screen and (max-width: 768px) {
    .overview-grid {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .overview-grid div p {
        font-size: 16px;
    }
    .overview {
        padding: 0px 30px 10px;
    }
    .overview-grid div {
        padding: 20px 20px;
        width: 302px;
    }
}

@media screen and (max-width: 480px) {
    .overview-grid {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        grid-gap: 10px;
    }
    .overview p {
        margin: 10px;
        font-size: 16px;
    }
    .overview-grid div h1 {
        font-size: 24px;
        line-height: 20px;
    }
    .overview-grid div p {
        font-size: 16px;
        line-height: 16px;
    }
    .overview-grid div p {
        font-size: 14px;
    }
    .overview {
        padding: 0px 20px 10px;
    }
    .overview-grid div {
        padding: 15px 10px;
        width: 100%;
        margin-bottom: 5px;
    }
}