.sidenav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 23px;
    gap: 149px;
    background: #2E3192;
    border-right: 0.5px solid #C6BDBD;
    height: 100vh;
    padding: 40px 0;
    position: sticky;
    left: 0;
    top: 0;
    width: 135px;
}

.sidenav button {
    display: flex;
    text-align: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background: none;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Outfit', sans-serif;
    margin-bottom: 30px;
    color: #7C7D9D;
}

.sidenav button:first-child {
    color: white;
}

.sidenav button div {
    height: 2px;
    width: 80%;
    background: white;
    margin-top: 5px;
}

.sidenav button img {
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .sidenav {
        flex-direction: row;
        padding: 10px 30px;
        bottom: 0;
        width: 100%;
        height: max-content;
        gap: 20px;
    }
    .logo {
        display: none;
    }
    .sidenav-navigations {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .sidenav button {
        margin-bottom: 0px;
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    .sidenav {
        padding: 10px 15px;
        gap: 10px;
    }
    .logo {
        width: 50px;
    }
    .sidenav button {
        margin-bottom: 0px;
        padding: 0px;
        font-size: 12px;
    }
    .sidenav button img {
        width: 19px;
        margin-bottom: 5px;
    }
    .sidenav button div {
        margin-top: 3px;
    }
}