.who {
    max-width: 1440px;
    display: flex;
    align-items: center;
    padding: 100px;
    margin: 0% auto;
    justify-content: space-between;
}



.who-content1 h1 {
    width: 225px;
    height: 60px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    color: #171B1D;
    margin-bottom: 20px;
}

.who-content1 p {
    width:95%;
    font-style: normal;
    line-height: 40px;
    letter-spacing: 0.03em;
    color: #171B1D;
    margin-bottom: 10px;
}

.who-content2 img {
    width: 100%;
    height: 70vh;
    object-fit: contain;
}
.who-content1{
    width:60%;
}
.who-content2{
    width:40%;
}


@media screen and (max-width: 1023px) {
    .who {
        width: 100%;
        padding: 50px;
        margin: 0%;
    }
    
    
    .who-content1 h1 {
        width: 100%;
        height: 30px;
        font-size: 28px;
        line-height: 150%;
        color: #171B1D;
        margin-bottom: 20px;
    }
    
    .who-content1 p {
        width: 95%;
        font-weight: 300;
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {
    .who {
        padding: 30px;
        flex-direction: row;
    }
    
    .who-content1 {
        width: 50%;
    }
    .who-content2 {
        width: 50%;
    }
    .who-content1 p {
        line-height: 25px;
    }
    
    .who-content1 h1 {
        height: 30px;
        width: 100%;
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    .who-content1 p {
        width: 100%;
        font-weight: 300;
        font-size: 14px;
    }
    
    .who-content2 img {
        border-radius: 8px;
    }
}
@media only screen and (min-width:320px) and (max-width:593px){
    .who-content2, .who-content1{
        padding-left: 0;
        width: 100%;
    }
    .who{
        flex-direction: column-reverse;
    }
    .who-content2 img {
        height: auto;
    }
}